[2020-04-28 17:14] bogdansoare opened #24 "Large bundle size"
This library comes at a whopping 113.1kB minified https://bundlephobia.com/result?p=@typeform/embed@0.16.0

That is not very good for just showing a form on a website.

[2020-04-28 17:49] bogdansoare commented on #24
[code]

That's a lot of dependencies.
My advice, drop css-in-js, just use css. Css-in-jss is not well suited for libraries unless both the library and the app consuming the library use the same css-in-js solution.

Second, have 2 versions of the lib, a vanilla one without preact and a react one that's a wrapper on top of the vanilla one, since react it's the most popular library.

[2020-04-29 16:19] Gotusso commented on #24
Hey @bogdansoare thanks for reaching out! Long story short, you're absolutely right, the bundle is too big for what the library does today. This also loads another bundle once the Typeform shows up that it's bigger, and it's impacting user experience the most, so we're focusing on that one first. After that, we will also check how we can shave some size here.

In the meantime, I'm going to leave t

[2020-04-29 18:42] bogdansoare commented on #24
Hey @Gotusso thank you for the response, glad to hear that you're working on it.
I really like typeform and would be happy if both developers and users will have a nice experience using this library.

All the best.

[2020-05-29 15:53] startupmasters opened #39 "[BUG] onClose not firing when the X on the popup form is clicked"
I'm creating the form with .makePopup(url, options) and in the options passing 2 callback functions.

1. onSubmit - this one is working fine
2. onClose - this one is not working for me. I expect that it should fire when the "X" is clicked to close the popup form, but when clicking the "X" the form does indeed close, but the onClose function is not triggered.

[2020-05-29 17:09] carlitosz commented on #39
@startupmasters I believe the `onClose` callback is called after the user has submitted the survey, not when the user clicks the `X`.

It would be great to have a callback when the user clicks 'X' 👍

[2020-05-30 13:38] startupmasters commented on #39
Well, as per the documentation onClose should fire when the form is closed - "Callback function that will be executed once the typeform is closed."

When the user submits the form, the "onSubmit" function triggers normally, but "onClose" still does not, so it does not trigger neither when submitting, nor when closing the form. I believe this is aa big.

[2020-05-30 13:47] startupmasters commented on #39
The issue is located in api.js of the package.

key: 'handleClose', on line 2621. the onClose() is triggered through this.props.onClose, when it should be triggered through this.props.options.onClose (because in the documentation, the callback is passed in the options object). The "onSubmit" is defined correctly on line 2661.

Changing this.props.onClose() to this.props.options.onClose() triggers

[2020-06-03 12:37] samval opened #40 "[BUG] Zone.js has detected that ZoneAwarePromise `(window|global).Promise` has been overwritten"
On iOS platform the cordova application don't start and in console output I see next error:

Error: Zone.js has detected that ZoneAwarePromise `(window|global).Promise` has been overwritten.
Most likely cause is that a Promise polyfill has been loaded after Zone.js (Polyfilling Promise api is not necessary when zone.js is loaded. If you must load one, do so before loading zone.js.)

Reproduced on

[2020-06-03 13:17] Gotusso commented on #39
Hi! Thanks a lot for the bug report, we'll have a look at this shortly 👍

[2020-06-03 13:26] Gotusso commented on #40
Hi @samval,  thank you for the bug report. Would you be able to provide a sample set up for this so we can reproduce? I personally never used zone.js before but from having a quick look at the docs sounds like it's loaded too early in your project and should be delayed until other deps have been imported?

[2020-06-03 15:11] MeirAmar commented on #40
Hi @Gotusso why you are setting / overriding Promise polyfill in case Promise is already exist on the page? can you set it as something optional?

[2020-06-04 09:19] prilutskiy commented on #39
Hey, @startupmasters! Could you please provide a repo to reproduce the issue? I'm using the following code and everything works fine:

[code]
Also, are you consuming the API from the npm registry or just from the CDN?

[2020-06-08 11:06] prilutskiy commented on #39
Hey @startupmasters, did your problem get solved?

[2020-06-08 12:04] prilutskiy commented on #40
Hi @samval @MeirAmar
I'm thinking about providing a way to import the package without any polyfills, as an alternative.

For example, the following version could be used to leverage the functionality right out of the box:
[code]
While the following snippet could be a solution for more advanced cases like yours, providing no polyfills/etc. at all:
[code]

What do you think?

[2020-06-09 10:14] prilutskiy commented on #39
@startupmasters please feel free to ping, if there any other questions

[2020-06-09 10:14] #39 closed

[2020-06-09 10:30] startupmasters commented on #39
Hello, sorry for the delay. Just checked back with the team and we're using an older version ^0.9.3 so that might have been the issue. I will double-check on the newer version and get back to you.

Thanks

[2020-06-15 07:51] samval commented on #40
@prilutskiy let's try, please

[2020-06-18 13:15] #40 closed

[2020-06-18 13:19] prilutskiy commented on #24
As of now, we reduced the bundle size by 27%. In the nearest future, we'll also be optimizing a bunch of other stuff, so the bundle will become even tinier.

[2020-06-18 13:32] travis-tf commented on #40
:tada: This issue has been resolved in version 0.21.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@typeform/embed/v/0.21.1)
- [GitHub release](https://github.com/Typeform/embed/releases/tag/v0.21.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-06-18 13:33] travis-tf commented on #24
:tada: This issue has been resolved in version 0.21.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@typeform/embed/v/0.21.1)
- [GitHub release](https://github.com/Typeform/embed/releases/tag/v0.21.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-06-18 13:37] prilutskiy commented on #40
@samval starting from `v0.21.1` **the NPM** version of the SDK doesn't include polyfills. From no on we also mention that fact in the repo's [README](https://github.com/Typeform/embed#npm-package).

[2020-07-17 13:35] flacle opened #56 "Conflict with apparently require/react.js [BUG]"
**Describe the bug**
Typeform Embed is breaking our site after apparent release https://github.com/Typeform/embed/releases/tag/v0.21.4 - because last good response on our survey was on June 19 2020.

**To Reproduce**
Steps to reproduce the behavior:
1. Use the latest version of Typeform
2. Use require.js version 2.3.5

**Expected behavior**
No issues with prior June 20.

**Current behavior**
Recei

[2020-07-20 14:02] mathio commented on #56
Hello @flacle !

I tried to embed a typeform using RequireJS v2.3.5, React v16 and embed library (both v0.21.4 and latest) and it works fine.

Here is my test: https://glitch.com/~embed-requirejs

Can you please provide a minimal example that is causing your issue?

[2020-07-31 12:12] Adam314 commented on #56
Hello @mathio. I have the same problem with Typeform. I'm embedding a Typeform button which should open form on right panel. I'm getting exactly the same error. Here's the button's code (I removed the form ID from URL):
`<a class="typeform-share button" href="https://form.typeform.com/to/REMOVED_ID" data-mode="drawer_right" style="display:inline-block;text-decoration:none;background-color:#1B75BB;

[2020-08-03 14:00] mathio commented on #56
Hello @Adam314.

I believe that if you are using `require.js` you need to load the embed library vie `require.js`:

[code]

It looks like `require.js` does not support using a code snippet from the Typeform share page directly because [it loads the embed library dynamically](https://requirejs.org/docs/errors.html#mismatch)).

@flacle was your issue caused by using the embed snippet from share page

[2020-08-03 17:52] Adam314 commented on #56
@mathio Thank you! That did the trick.

[2020-08-06 12:51] mathio commented on #56
Closing as resolved. If you have more problems feel free to open a new issue.

[2020-08-06 12:51] #56 closed

[2020-08-10 09:45] conorshaw opened #68 "[BUG] Window undefined error in next.js"
**Describe the bug**
Trying to use library in next.js and getting window is undefined when using makeWidget within useEffect which is client side rendered only

**To Reproduce**
See basic example in repo:
https://github.com/conorshaw/typeform-next

**Expected behavior**
Shouldn't error out with window undefined when client side rendered

**Current behavior**
Throws window is undefined error

[2020-08-11 06:59] landsman commented on #68
We have same problem.

[2020-08-11 10:12] prilutskiy commented on #68
@conorshaw @landsman
Hi, thanks for reporting this! Our team will start looking into this shortly.

P.S. Big thanks for the repro repo!

[2020-08-13 12:14] #68 closed

[2020-08-13 12:22] travis-tf commented on #68
:tada: This issue has been resolved in version 0.25.0 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/Typeform/embed/releases/tag/v0.25.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-09-22 12:51] jellevandevelde commented on #24
I'm struggling with the same issue here. The bundle size as of date is still very large.
https://bundlephobia.com/result?p=@typeform/embed@0.25.1

I wanted to embed a TypeForm in a Vue app, but seems that I now need to ship my app with both Vue and React in order for me to achieve this.

Any tips in the meantime?

[2020-10-07 13:59] tom8825 opened #79 "[FEATURE] Independently enable/disable welcome screens on desktop and mobile"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
welcome screen appears on desktop as well as mobile

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
enable/disable on desktop/mobile

**Describe alternatives you've considered**
A clear and

[2020-10-08 11:56] mathio commented on #24
@jellevandevelde I am afraid that at the moment you will have to ship the app with both React and Vue, since our embed library is not yet decoupled from the react dependency.

[2020-10-08 12:01] mathio commented on #79
Hi @tom8825! Since the embedded typeform on mobile opens in a full-screen modal window we have to display a welcome screen on mobile right now. You can create a typeform without welcome screen for desktop and for mobile we will create one for you automatically using your form title.

We are aware of this limitation, however this is not something that can be solved in the embed library. It is somet

[2020-10-14 23:11] cesarvarela opened #81 "[BUG] Missing logo"
**Describe the bug**
The logo is not showing our logo when using this component but shows when I go to the typeform url directly.

**To Reproduce**
Use this.

**Expected behavior**
Should show the logo I guess.

**Desktop (please complete the following information):**
 - OS: Win 10
 - Chrome latest
 -  "@typeform/embed": "^0.25.4",

[2020-10-15 15:41] malimccalla opened #83 "[BUG] Error: JSONP request to https://admin.typeform.com/app/embed/.....?jsoncallback=? failed"
**Describe the bug**
Following the set up in the readme I'm receiving this error

[code]

The console also shows this error

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://test.thespie.com/digital/the-reunion-livestream-inplayer/2535
2. Open the console to see the errors

**Expected behavior**
No errors

**Current behavior**
The JSONP fetch error for  `https://admin.typ

[2020-10-15 18:22] raurfang commented on #24
I think it would make sense to at least unpin the `react`, `react-dom` versions and move the declaration to `peerDependencies`. Currently two `react` versions will get bundled unless the user of the library sets the app's `react` version to the exact same version as `@typeform/embed` uses.

[2020-10-17 15:57] tolulawson opened #86 "[BUG] onReady callback function is not called when form loads"
[BUG] onReady callback function is not called when the Typeform loads

[2020-10-19 08:17] prilutskiy commented on #86
@tolulawson thanks for reporting, we'll double-check this asap!

[2020-10-20 10:32] tolulawson commented on #86
Hi Max,

Thank you so much for your help. I’ve found the reason for the error. I didn’t have @typeform/embed in my dependencies but instead had an unofficial React wrapper package.

I’ve fixed it now. Thanks

[2020-10-20 10:32] #86 closed

[2020-10-21 17:04] pastushenkoy commented on #79
I don't get why do we always need to open fullscreen typeform on mobile? I, for example, want to use my own branding and back button when show typeform.

Also, the UX is terrible on mobile:
1. When typeform is opened, it shows the welcomescreen with Begin button
2. After clicking Begin button you get rendered typeform in modal screen with Close button in the upper right corner
3. After clicking th

[2020-10-22 09:12] schmidsi opened #87 "[FEATURE] Automatically resize iframe to avoid having scrollbars"
**Is your feature request related to a problem? Please describe.**
On the site that I work on Typeform is embedded as a widget. And the users are confused by two scrollbars: One for the parent site and one for the Typeform.

**Describe the solution you'd like**
That the iframe automatically resizes according to the content.

**Describe alternatives you've considered**
I tried https://github.com/da

[2020-10-26 09:13] mathio commented on #24
@raurfang I think you are right. I am adding this to our backlog. If you would like to open a pull request to get this done earlier we would appreciate it.

[2020-10-29 11:16] isheraz opened #89 "Redirection from iPad or iPhone to website is broken"
**Describe the bug**
The bug occurs when we try to redirect back to the website from the iframe. Something similar for payments has been explained [here](https://stackoverflow.com/questions/47691743/redirect-parent-page-from-iframe-in-ios/47695624#47695624). The solution is posted along with it, but there's no way to add params to `makeWidget` function

**To Reproduce**

Browser: Safari
User-Agent

[2020-10-29 12:36] raurfang commented on #24
Sorry, I couldn't find time earlier, thanks @osdiab @mathio for the work on this. Our bundle size is down by ~40kB thanks to #88.
I'll take a look if this can be improved further in a couple of days.

[2020-10-30 00:21] picsoung commented on #81
Hey @cesarvarela

Thank you for reporting this issue.
Could you share with ys the URL of the form?
And also give details on how you embedded it?

This will help us to reproduce it

Thank you

[2020-10-30 09:30] mathio commented on #89
We will look into the issue next week. I will keep you updated.

[2020-10-30 09:41] mathio commented on #79
To ensure the best experience for respondents we open the form in full screen modal window on mobile devices.

You could [add an attribute](https://github.com/Typeform/embed/blob/master/src/core/attributes.js#L87) to indicate you dont want a full screen modal window [in the makeWidget function](https://github.com/Typeform/embed/blob/master/src/core/make-widget.js#L42). Feel free to open a pull req

[2020-10-30 09:45] mathio commented on #87
Can you manually set iframe size to ensure your typeform always fits?

[2020-10-30 10:08] schmidsi commented on #87
I already do this, but it's ugly: The size of the iFrame is dependent on the browser-width and for multi-step forms different steps have different heights. So to avoid scrollbars at all, I need to set the iFrame height to the highest which looks ugly.

[2020-10-30 11:24] mathio commented on #87
To confirm - you would like to resize the iframe after respondent transitions between questions?

[2020-10-30 11:38] mathio commented on #83
Can you please provide the JS code you use for embedding?

[2020-10-30 13:17] schmidsi commented on #87
Exactly

[2020-11-02 14:16] mathio commented on #87
Let me talk to the team and see if we can put such a feature on our roadmap. I will keep you updated.

[2020-11-03 09:25] isheraz commented on #89
@mathio any update on the issue?

[2020-11-03 09:43] mathio commented on #89
My colleague is looking into the issue right now.

Yesterday we had issues with replicating the issue on iPad (via Browserstack) as Cloudfare was returning Error 1010 - blocking access "based on browser signature" but it works now.

[2020-11-03 09:45] mathio commented on #87
This is problematic, because we calculate image size based on screen (iframe) size. We can not calculate question block size because it is based on the screen (iframe) size.

[2020-11-03 10:01] isheraz commented on #89
Awesome! thank you for the update. Another way to replicate this is by using the Safari browser and changing the user agent if that helps!

[2020-11-04 11:16] mathio commented on #89
It looks like your form does not have the redirect set up (Create -> Settings -> Redirect on completion).

A form with redirect works fine on an iPad: https://jsfiddle.net/mathio88/cmk32yzq/

[2020-11-04 11:35] #87 closed

[2020-11-04 11:35] #89 closed

[2020-11-04 19:05] malimccalla commented on #83
I managed to solve this by updating to the latest version. Thanks.

[2020-11-04 19:05] #83 closed

[2020-11-09 10:18] schmidsi commented on #87
@mathio Please consider reopening this issue. It should be very easy: All you need to do is hoisting the difference content height to the window/iframe height so that the embedding website can adjust the iframe size.

It seems that the scrolling is happening on an element with a class like `block-scroller__Root` which contains the `block-scroller__Positioner` element which seems to be the one with

[2020-11-11 06:12] adilanchian opened #95 "[BUG] Typeform localStorage stays around for a recurring form"
**Describe the bug**
We have a Typeform that will be used every week. When filling out the form, the answers for that form are populated with last weeks answers.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a Typeform with the same ID
1. Submit the form successfully
1. Open up the form again

**Expected behavior**
Answers from the last submission should not be populated

**Current

[2020-11-11 06:13] adilanchian commented on #95
Also - I saw `disableTracking` as a potential WidgetOption? Is this a thing? Thanks again!

[2020-11-11 09:12] prilutskiy commented on #95
Hey @adilanchian, thanks for reporting this! We'll have a look at this.

[2020-11-11 16:14] adilanchian commented on #95
Hey @prilutskiy much appreciated!

[2020-11-12 16:56] janhorubala opened #96 "[BUG] typeform embed script doesn't support RequireJS / define on frontend"
I couldn't load typeform embed script on website that use RequireJS.

**Reproduce**
I added `<script src="https://embed.typeform.com/embed.js"></script>` via Google Tag Manager, but I still get `Uncaught ReferenceError: typeformEmbed is not defined`. The problem was with requireJS version 2.3.6 and line that imports typeform script
[code]
RequireJS doesn't allow an empty array in `define([], t)`

[2020-11-13 09:46] prilutskiy commented on #96
@janhorubala hey, thanks for reporting! We'll have a look at this shortly.

[2020-11-13 10:36] mathio commented on #96
Hi, I looked into the issue. If I understand this correctly GTM is loading the script asynchronously and it takes some time for the script to load. I dont know if there is any GTM event or callback for when it is done, but I confirmed this hypothesis via setTimeout :slightly_smiling_face: See https://jsfiddle.net/mathio88/6o158h7e/

[2020-11-13 12:05] mathio commented on #95
I was unable to replicate this. The form is populated with answers from past session only if the form was not submitted in that past session - this is correct and expected behavior.

@adilanchian can you please provide an example to replicate this issue?

[2020-11-14 16:38] mathio commented on #95
I think a jsfiddle or something similar will be sufficient.

This is how I tested it: I created jsfiddle with a typeform here: https://jsfiddle.net/mathio88/cmk32yzq/

When the form is not submitted:
1. select one of the choices
2. reload page
3. the answer is preserved (correct)

When the form is submitted:
1. select one of the choices
2. submit the form
2. reload page
3. the answer is not preser

[2020-11-16 13:13] mathio commented on #96
If you have any issues with using our embed lib with RequireJS please refer to this example:
https://glitch.com/edit/#!/embed-requirejs

[2020-11-17 09:16] #96 closed

[2020-11-17 09:18] mathio commented on #81
We are unable to reproduce the issue.

[2020-11-17 09:18] #81 closed

[2020-11-17 09:26] mathio commented on #79
Closing for inactivity. If you want to further discuss this feature we suggest you open a pull request (or reopen this issue / open a new one).

[2020-11-17 09:26] #79 closed

[2020-11-19 21:13] johnmcdowall commented on #95
I am also seeing this behaviour. Submitting a form, which works, then go around and trigger the typeform again and it's loading with the previous values.

[2020-11-19 23:34] adilanchian commented on #95
Thanks for the insight here!

I haven't been able to give this a proper repro, but I believe it makes sense to repro this in a react project as it may point to our problem there!

[2020-11-20 16:27] Thr44 commented on #95
can you please confirm if this only occurs if we have a redirectAfterSubmitUrl ?

[2020-11-25 09:16] fazi8808 commented on #83
@mathio @malimccalla I still see that in my next.js project. Also, my version currently is the latest one.

![image](https://user-images.githubusercontent.com/26847943/100206747-8f0b1e80-2f28-11eb-9fac-dd36b20f740c.png)

![image](https://user-images.githubusercontent.com/26847943/100206899-c083ea00-2f28-11eb-98c5-5c614adc100a.png)

[2020-11-26 08:47] Thr44 commented on #95
hi, we just deployed https://jira.typeform.tf/browse/SB-4573 to resolve the issues with redirectAfterSubmitUrl.

[2020-11-26 15:34] adilanchian commented on #95
Hey @Thr44 Thanks for the reply here!

So I actually haven't tried this out, but I don't use this flag at all in our react form. For some reason I didn't see this in the docs (though I might have missed it!)

I can try this out and report back if that's cool?

Thanks!

[2020-11-27 15:15] JoeDenny commented on #83
@mathio I'm also getting the above error while using the latest version - any updates on this?

[2020-11-30 05:12] johnmcdowall commented on #95
I've never heard of or used `redirectAfterSubmitUrl`. I'm just simply following the examples in the README in a React app.

[2020-11-30 09:00] Thr44 commented on #95
hey @adilanchian, @johnmcdowall if you still experience issues plz report back.

[2020-12-01 15:03] adilanchian commented on #95
@Thr44 - Sorry for the late reply here! Quick question for you, would you be able to give me an example of how to use: `transferableUrlParameters` option? I have tried a few things and can't seem to find any docs on it... Would appreciate it!

@johnmcdowall - If you go to your TypeForm, in the web portal, you can toggle this option on:

https://help.typeform.com/hc/en-us/articles/360029257112-Redi

[2020-12-01 15:46] mathio commented on #95
# localStorage

I think the issue with localStorage was that the redirect happened too soon.

As @adilanchian correctly pointed out, `redirectAfterSubmitUrl` is [set up via Typeform admin UI when you create form](https://help.typeform.com/hc/en-us/articles/360029257112-Redirect-on-completion).

# transferableUrlParameters

You can find examples in the demo directory:
* https://github.com/Typeform/

[2020-12-01 16:09] adilanchian commented on #95
@mathio

Thanks for the quick reply here! Okay cool I did see this, so if I am understanding the `transferableUrlParameters` option:

I pass in an array of params I want to append to the form on submit. This may look something like this:

- I have hidden field `name`
- The value I want for name would be `Alec`
- In the `transferableUrlParameters` array I would pass in the string value: `name=Alec`

[2020-12-01 16:13] mathio commented on #95
No :)

You have you own (host) page `www.example.com` with embedded typeform.

* add hidden field `name` in your form (via admin UI)
* setup `transferableUrlParameters: ['name']` (do not provide any value)
* visit `www.example.com?name=Alec`
* your hidden field `name` will populate with value `Alec` from the query param of the host page

[2020-12-01 16:24] adilanchian commented on #95
Cheers!

[2020-12-02 09:01] mathio commented on #95
Closing, localStorage issue is resolved. If you have other issues feel free to open a new issue.

[2020-12-02 09:01] #95 closed

[2020-12-08 15:55] linconkusunoki commented on #68
@prilutskiy it still with the error on the latest version

https://codesandbox.io/s/typeform-window-undefined-k113h?file=/pages/index.js

[2020-12-14 18:47] jaunt opened #117 "Version names question"
Hello, I have been noticing that most releases seem to require a deliberate npm upgrade.  For example going from 0.30.0 to 0.31.0.   Reading the change logs, it seems like breaking changes aren't very common.  Would it make sense to use the last digit of the version number more often, so that an npm update will upgrade automatically, and reserve the middle digit release for things that require a m

[2020-12-17 05:17] lyzs90 commented on #83
works for me after downgrading to v0.29.1

[2020-12-18 12:42] RaedsLab opened #119 "[BUG] `side_panel` popup is attached to "body" instead of specified container"
**Describe the bug**

When creating a `side_panel` popup, and specifying a div `container` the popup is attached to the `body` instead

<a href="https://www.loom.com/share/8d89bb98e30046f79c892e4397663b9a"> <p>React App - Watch Video</p> <img style="max-width:300px;" src="https://cdn.loom.com/sessions/thumbnails/8d89bb98e30046f79c892e4397663b9a-with-play.gif"> </a>

**To Reproduce**
Steps to repro

[2020-12-18 12:53] #119 closed

[2021-01-04 15:09] dmarman opened #121 "[BUG] OnSubmit isn't trigger for "conversations" forms. ...typeform.com/c/xxxx"
**Describe the bug**
The new "conversations" type of forms doesn't trigger OnSubmit function.

**To Reproduce**
[code]

**Expected behavior**
onSubmit should be executed at the end of the conversation form or a new onFinished trigger should be implemented

**Current behavior**
onSubmit is not executed at the end of conversational forms.

**Desktop (please complete the following information):**

-

[2021-01-05 14:14] jenkins-tf opened #123 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2021-01-06 15:49] #123 closed

[2021-01-07 13:01] seanislegend commented on #68
You can workaround this by creating a new component to load Typeform. You can then import this new component using [Next's dynamic imports](https://nextjs.org/docs/advanced-features/dynamic-import#with-no-ssr). Just ensure you set `ssr` to false in the config as this is how to get around window not being defined during server render.

For example:
`const TypeForm = dynamic(() => import('./TypeForm

[2021-01-11 14:26] AnnyNeMy opened #126 "[BUG]"
**Describe the bug**
I use angular 9.
After installing  typeform/embed and testing typeform I have an error:
Module not found: Error: Can't resolve 'react' in '/app/node_modules/@typeform/embed/build'
ERROR in ./node_modules/@typeform/embed/build/lib.pure.js
Module not found: Error: Can't resolve 'react-dom' in '/app/node_modules/@typeform/embed/build'

Why in my angular project i need to install

[2021-01-11 17:18] #126 closed

[2021-01-12 12:42] vaibhavsah opened #127 "In Mobile view, closing a typeform after submitting takes us back to the first page in new version."
**In Mobile view, closing a typeform after submitting takes us back to the first page in new version.**
I want to open a typeform as a widget in my page. But in mobile view, the typeform widget shows the welcome screen which is not required for me. Now on clicking the start, the typeform opens in a new fullscreen popup. This was not the behaviour earlier. Now what happens is that on submitting the

[2021-01-12 13:05] vaibhavsah commented on #127
Please find below the videos of the issues I am getting.
1. Even if I am on question 3 in popup, on closing in between, the widget mode takes me back to question 1.
https://user-images.githubusercontent.com/12396290/104317893-9f8d4d80-5504-11eb-8f8a-b37000c46bcf.mp4

2. Even though I have submitted the typeform in popup, on closing the typeform from submission screen, I am taken back to the first

[2021-01-13 12:49] prilutskiy opened #128 "Test issue"
Hey, don't worry, I'm testing the Slack integration.

[2021-01-13 12:50] prilutskiy commented on #128
A comment.

[2021-01-13 12:50] #128 closed

[2021-01-13 12:57] mathio commented on #121
Conversations embedding is currently supported by a different library that is not open source. This library does not support conversations embed.

FYI @prilutskiy

[2021-01-13 12:58] prilutskiy commented on #121
@dmarman thanks for raising this! Yeah, as @mathio said this isn't yet supported. We plan to revisit this in Q2 2021.

[2021-01-13 13:03] mathio commented on #127
I confirm, I was able to replicate the issue here: https://embed-typeform.glitch.me/

We will look into this.

[2021-01-13 13:21] dmarman commented on #121
Thanks for the answer :)

This non-open source library for conversations is publicly available for usage like embed.js? I guess not, but just to confirm.

[2021-01-13 13:47] mathio commented on #121
@dmarman go to "Share" tab of your typeform, click "Start a conversation", you can copy the code to embed the lib. But it is not published in npm like this lib is.

[2021-01-18 06:25] vaibhavsah commented on #127
Thanks @mathio . Please keep us updated here.

[2021-01-21 14:47] mnapoli commented on #24
Thank you for the effort made on this issue already. I have to admit I was very surprised to see React appear in my VueJS application, all that for a Typeform popup button.

I'll be removing Typeform for now.

[2021-01-22 00:52] osdiab commented on #24
Agreed, should at least use preact.

[2021-01-25 10:59] #121 closed

[2021-01-25 20:22] Ciccio99 opened #132 "[BUG] Refused to frame error with Nextjs/react"
**Describe the bug**
I've create a react hook that return the open/close functions to any component that needs to utilize it. Whenever the typeform popup window opens the refused to frame error occurs:
`[Report Only] Refused to frame 'https://<domain>.typeform.com/' because an ancestor violates the following Content Security Policy directive: "frame-ancestors https:".`

**The typeform still functi

[2021-01-25 20:52] mathio commented on #132
I tried using your code and I am unable to replicate this issue:
https://codesandbox.io/s/react-embed-hook-mptcc?file=/src/App.js

You most likely need to [update your CSP headers](https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP).

[2021-01-25 21:12] Ciccio99 commented on #132
This may be a problem with NextJS and CSP then. I appreciate the feedback - will close the issue in the meantimetime.

[2021-01-25 21:12] #132 closed

[2021-01-27 14:08] mathio commented on #127
This is fixed in #133 and has been released as v0.34.1

I tested on https://embed-typeform.glitch.me/

[2021-01-27 19:24] vaibhavsah commented on #127
@mathio
Thanks for the updates. But I can see that for the points mentioned above,

1. In case of closing the typeform in between, it takes me to start / welcome screen. Instead it should take me to the same question.
2. In case of completion of typeform, on closing, it again takes me to start instead of thank you screen.
Please check.

[2021-01-27 20:57] mathio commented on #127
When you open the popup, we always reopen the typeform from the beginning. If I am not mistaken the behavior has always been like this.

I am tagging this as an enhancement and will let you know when this get on our roadmap.

[2021-02-02 09:08] joernroeder commented on #132
works for me as well.

[2021-02-03 11:20] #117 closed

[2021-02-03 11:24] prilutskiy commented on #117
@jaunt sorry for the late response - yep, it does make sense. We're working on a new version, and it will follow the flow you've suggested. 👍

[2021-02-03 15:32] magpiedigital opened #142 "[BUG] React dependencies were not found"
**Describe the bug**
We use the typeform embed on a Vue.js web app. We started getting an error and decided to update from 0.9.0. Now when building our project we get an error saying we're messing react and react-dom dependencies.

**To Reproduce**
Vue.js project.
Install package and build project

- OS: MacOS
- Browser: build stage bug
- Embed SDK Version: 0.31.1
- NodeJS version: 10.22.0
- NPM v

[2021-02-03 15:38] mathio commented on #142
Hello @magpiedigital. Embed lib requires react lib at the moment. Since it is a peer dependency **you need to install it into your project yourself**:
[code]

This is a benefit for react projects to reuse react from the project and not introduce a new one. I know this is not ideal for non-react projects such as yours because you will need to add react.

I can tell you we are currently working on a

[2021-02-03 15:40] magpiedigital commented on #142
Ok, that's a shame. For now I'll use the cdn version

[2021-02-03 15:40] #142 closed

[2021-02-04 09:00] vaibhavsah commented on #127
@mathio When can we expect the enhancements. What are your release timelines ?

[2021-02-05 04:25] travisldunn commented on #83
Can reopen this I am also running the latest version

[2021-02-09 16:39] timhagn opened #161 "[BUG] regeneratorRuntime is not defined"
**Describe the bug**
After updating `@typeform/embed` in a Gatsby project from `v0.33.2` to `v0.34.5` and either running develop or production mode the following error is thrown:

[code]

**To Reproduce**
Steps to reproduce the behavior:

Install `@typeform/embed` @ `v0.34.5`in a Gatsby project, add it as described & run `yarn build` (or `yarn develop` then it's shown in the Browser).
(But probabl

[2021-02-16 12:47] daviddelusenet opened #169 "TypeScript types"
It would be nice if type declarations could be added to the project.

[2021-02-16 13:01] prilutskiy commented on #169
Hi @daviddelusenet 👋

We're working on a brand new version of the SDK. It's built with Typescript and will have all the typings out of the box. Stay tuned 😉

[2021-02-16 13:01] #169 closed

[2021-02-16 14:14] daviddelusenet commented on #169
Nice!

[2021-02-16 16:39] daviddelusenet commented on #161
Please fix this bug 🙏

[2021-02-16 19:15] daviddelusenet commented on #161
@timhagn for me it used to work the first time I installed it today. However, once I removed my `node_modules` and reinstalled my dependencies I started experiencing this error.

When I downgrade to `0.33.2` I get an ` WebpackError: ReferenceError: window is not defined` error.

This is my implementation:

[code]

Any idea??

[2021-02-16 19:17] daviddelusenet commented on #161
It seems to be related to this part:

[code]

When I remove that it my code compiles fine. Even if I wrap this code in a if statement like `if (typeof window !== 'undefined')` I'm still getting this error.

[2021-02-16 23:14] timhagn commented on #161
Hi @daviddelusenet,

strange, this Problem I don't get during build. Are you also working with Gatsby?
For other libs with a `window` error I have had good experience with [loadable-components](https://loadable-components.com/docs/library-splitting/) encapsulating them, though I don't know if it might be of help here % ).
No one reading this from @Typeform?

Best,

Tim.

[2021-02-17 06:29] daviddelusenet commented on #161
Yeah it has to do with the combination of `useMemo` together with this library. If out outcomment my `useMemo`, start my project and then uncomment my code again the popup works fine.

However, if I then restart my project with the code still uncommented I get the error mentioned above. I'll investigate an approach without using `useMemo`.

[2021-02-17 06:33] daviddelusenet commented on #161
This also doesn't work 😩

[code]

[2021-02-17 06:47] daviddelusenet commented on #161
So I managed to fix it by using the approach of Ciccio99 in issue #132. My code for if anyone ever gets here:

[code]

[2021-02-17 09:20] prilutskiy commented on #127
Add to the team's backlog. We'll take a look at this enhancement in Q2.

[2021-02-18 22:30] lpke commented on #161
I've been trying to solve this issue as well and your code helped me find a solution that worked, thank you! For me it was dynamically importing the module that did the trick. However as I'm embedding directly, I had some issues with the ref not being found before I call `makeWidget()`. I solved this with a callback ref, which is checked inside `useEffect`. I'll post my entire `<Typeform>` compone

[2021-02-19 06:44] daviddelusenet commented on #161
Nice @lpke ! However, couldn't you just do this?

[code]

I also decided to rewrite my code a bit to make it more readable, it still works the same:

[code]

So in your case you could just check for `formRef.current` inside the `renderForm` function and then create your widget:

[code]

[2021-02-19 11:45] lpke commented on #161
@daviddelusenet I did try that initially, but for some reason I kept getting "typeformRef is not a valid DOM Element" - or something like that. I definitely tried both with and without `.current`, didn't seem to make a difference strangely. I'm sure I missed something though. I'll give your code a shot when I'm on my development machine next and get back to you.

[2021-02-22 15:14] AdrienVictor opened #177 "[BUG]: can't use embed SDK with angular"
How can we use the sdk with angular?
When following the guide I end with the following errors:

Error: ./node_modules/@typeform/embed/build/lib.pure.js
Module not found: Error: Can't resolve 'react' in '/Users/freer/Desktop/Slush/node2.0/node-by-slush/node_modules/@typeform/embed/build'

Error: ./node_modules/@typeform/embed/build/lib.pure.js
Module not found: Error: Can't resolve 'react-dom' in '

[2021-02-22 15:56] mathio commented on #177
Yes, our embed lib at the moment requires `react` and `react-dom` as peer dependencies. You will need to install those as well:

[code]

Here is an example Angular app with typeform popup embed, works just fine:
https://codesandbox.io/s/angular-embed-fnf7w

We understand it is not ideal to install react when you are not using it in your app. We are currently developing new version of this lib that

[2021-02-23 12:19] AdrienVictor commented on #177
Thanks a lot for the help!
I'll test this out and see how it works.

Do you have an idea when the new version will be released? just a rough estimate ☺️?

Thanks again!

[2021-02-23 12:28] mathio commented on #177
Hopefully by the end of March.

[2021-02-23 13:01] AdrienVictor commented on #177
Thanks for letting me know!

Is there any option to follow up on the advancement of the release? 😀

[2021-02-24 10:04] mathio commented on #177
Not yet. We will keep you posted.

[2021-02-24 10:04] #177 closed

[2021-02-28 19:41] tunztunztunz opened #190 "[BUG]makePopup is not a function when trying to implement typeform popover inReact/Gatsby"
**Describe the bug**
I've been trying to follow the guide to embedding a typeform widget in a React component, but I'm receiving a webpack error. I tried to use makePopup too, but also recieved the error.
I'm using this code
[code]
and receiving this error
```Uncaught TypeError: _typeform_embed__WEBPACK_IMPORTED_MODULE_1__.makeWidget is not a function```

[2021-03-02 06:01] lucashu1 commented on #190
Getting a similar error with Next.js. My guess is that it has something to do with server-side rendering, but I'm not entirely sure. Any pointers would be appreciated!

[code]

[2021-03-02 19:23] HairMachine commented on #190
I also see this in Vue. There is a createWidget function in there though! I'm not sure if it's the same thing or not; I get an InnerHTML error when I pass the element into that (this could still be user error on my part).

[2021-03-03 13:33] nikolovskipetar commented on #83
Did someone solves this?

[2021-03-03 16:49] tunztunztunz commented on #190
@lucashu1 @HairMachine

I was able to get this to work in React/Gatsby by running this code on the layout index.tsx:

[code]

Here's loadScript()
[code]

And then I have my component with the link tag and SVG below this at the bottom of my layout index.tsx. I had to use this solution for another 3rd party script that wasn't working in React and figured this was the way. I'm not using this package

[2021-03-04 11:45] nikolovskipetar commented on #83
Did someone solve this?

[2021-03-04 11:48] nikolovskipetar opened #196 "[BUG] Error: JSONP request to https://admin.typeform.com/app/embed/JjbqPzcc?jsoncallback=? failed"

[2021-03-04 11:54] #196 closed

[2021-03-04 13:35] arnoutj opened #197 "[BUG] 'Cannot set property 'innerHTML' of undefined' on createWidget if React ref.current is used as element (since release v1.0 !)"
**Describe the bug**

The v1.0 version of this package gives an undefined error on createWidget(element, ....) if passed a ref.current value in React.

This worked fine in version 0.34.6. Also, makeWidget is now createWidget apparently, so I think the docs are lagging behind.

**To Reproduce**
Steps to reproduce the behavior:

1. Install @typeform/embed (latest)
2. Add the following code:

[code]

[2021-03-05 05:44] #161 closed

[2021-03-05 12:43] psabbagh commented on #190
I'm having the same issue in Gatsby on makePopup. The function is in there but for some reason it is giving below error:

`undefined is not a function (near '..._typeform_embed__WEBPACK_IMPORTED_MODULE_2__.makePopup...')`

[2021-03-06 17:04] HerrNiklasRaab opened #199 "Retrieve id of current page"
**Is your feature request related to a problem? Please describe.**
Because there is the callback `onScreenChanged` I would like to use this to customize tracking. Currently, Typeform only supports tracking with Google Analytics. But not we are running Google Adwords ads. You can track conversions for Google Adwords using Google Analytics, but there are some differences between Google Adwords conve

[2021-03-08 17:31] FullStackTiger commented on #190
I am getting this error on gatsby project too.
TypeError: _typeform_embed__WEBPACK_IMPORTED_MODULE_5__.makeWidget is not a function

[2021-03-12 01:37] rrosztoczy commented on #190
I got the same error trying to use makeWidget in my nextjs app. On inspection, I only have access to "createWidget" which I am using and it works.

[2021-03-12 07:50] Xenonym commented on #24
For anyone dealing with this issue, you can use [`preact/compat`](https://preactjs.com/guide/v10/getting-started#aliasing-react-to-preact) as a drop-in replacement for the `react` dependency. This can help shave off ~100 KB.

[2021-03-15 15:21] wisejayden commented on #197
This is still an issue

[2021-03-15 15:40] psabbagh commented on #190
Updating to v 1.0.0-next.16 fixed the makePopup error. Getting another `Failed to load resource` error.

[2021-03-16 21:27] wamujlb commented on #190
Have tried to use and it didn't work. I use simple react app without SSR. Does anyone know how this can be used in React?

[2021-03-17 19:57] luisccode commented on #197
I have the same issue.  Version 0.34.6 works correctly

[2021-03-22 03:26] viperfx commented on #197
Also facing the same issues, tried multiple versions.

Does anyone at Typeform work on this library? I am so shocked that such a large company created an SDK that has such a critical issue like this.

[2021-03-22 11:22] saygun commented on #197
The latest release version on npm is `1.0.0-next.16`. I am also facing the same issue. I checked the installed source code and found this:
[code]

This function is working for me now. You can find what the `WidgetOptions` are in `node_modules/@typeform/embed/src/factories/create-widge/widget-options.ts`

[2021-03-22 17:13] mathio commented on #177
The new version is out now.

[2021-03-22 17:13] mathio commented on #169
The new version is out now!

[2021-03-24 17:39] flppv commented on #190
Had the same issue with React app. Had to revert the package version to a stable one: `yarn add @typeform/embed@0.34.6`. It helped.

[2021-03-24 19:04] wamujlb commented on #190
@flppv decided to write my own small wrapper.

[2021-04-06 20:51] DanielWahl opened #209 "Get Responses after Submit"
Hey folks,

How can I get the responses/answers after submitting a form? (onSubmit)

I need to get the response from one form, to create a new widget with a new form.
F.e.:
- 1st Form: Select Gender
- 2nd Form: Show Questions from either male- or female-form

Thanks in advance for your help.

[2021-04-07 08:07] Sandstedt commented on #197
@arnoutj
It works fine if you don't look at the outdated documentation on their site, instead using this example that is linked in this repos README.md:

https://github.com/Typeform/embed/tree/main/packages/demo-react

So it's not a bug, it's just old documentation for an API that has changed.

[2021-04-07 08:37] prilutskiy commented on #209
Hi @DanielWahl, that a great question!
`onSubmit` receives `responseId` in parameters, so you could use [Typeform Responses API](https://developer.typeform.com/responses/) to retrieve the answers from the platform. Please try that approach and let us know if you face any issues 😉

[2021-04-07 08:50] Sandstedt commented on #87
Would also wanna see this feature. Understand it could be problematic and require a big rewrite. But the UX for the visitor would be so much better.

**Use case:**
The landing screen is just a short question. The Typeform section on the page doesn't take so much space = easier to navigate or scroll past it if you don't wanna take the form. When interacting with the form, each question will adjust

[2021-04-07 08:54] DanielWahl commented on #209
I also tried with Typeform/JS-Api-Client, but it's not working because of the updated Cors policy (in my case) [](https://github.com/Typeform/js-api-client/issues/55)

Is it possible to retrieve the Responses with the Responses API without login and asking for a bearer-token every time? (f.e. via client_id, ...)
I'm using the Typeform Embed inside a Wordpress Theme, so it wouldn't be ideal to crea

[2021-04-09 10:00] prilutskiy commented on #209
@DanielWahl, I'd personally go with the API Token approach. You can obtain one by going to your account settings > personal tokens. More info here: https://developer.typeform.com/get-started/personal-access-token/

[2021-04-13 10:35] #209 closed

[2021-04-13 22:35] jaunt opened #214 "onQuestionChanged to pass question number as parameter"
Feature request:  Considering that the survey progress logic in the footer doesn't work well (on our survey, it gets to 90%, jumps back to 70%, builds to 90%, back to 70% etc),  I would love to simply retrieve the current question number and show progress myself.

For example, if I know my survey has 40 questions, I can simply take the percentage complete.

[2021-04-13 22:45] jaunt opened #215 "How to reset the survey once created?"
I see survey progress is being stored in localstorage now, under typeform domain (which I have no access to from my javascript).

For example, if a user abandons the embedded survey then logs out of my app.  I can see no way of clearing typeform's local storage.  So the next user will see the previous user's progress.

[2021-04-14 18:34] casesandberg commented on #83
I am getting this error with `react-typeform-embed@0.2.1`

[code]

[2021-04-14 22:27] mathio commented on #83
I am sorry but this is not a repository for `react-typeform-embed` lib which is not an official Typeform library. You will need to ask its author to upgrade to latest `@typeform/embed`.

At the moment we support only `@typeform/embed` (latest version is > 1). We are preparing an official react library soon.

[2021-04-15 01:36] picsoung commented on #215
Hey @jaunt
Thank you for your comment and concern.
Each user should be identified uniquely, and it should not collide between users.

Did you experience something different?

[2021-04-15 04:29] jaunt commented on #215
Hi @picsoung

When you say each user should be identified uniquely, how would that work?  I'm not passing in any user identifier to createWidget.  What I saw is that if I closed the browser part way through the survey and opened it up again, a fresh call to createWidget brought up the previously partially finished data.  My webapp has the concept of a unique user, so I can't see how the typeform i

[2021-04-15 09:33] mathio commented on #24
Lib version >= 1 has drastically lower file size. It is up to 90% smaller and does not have React dependency.

I suggest you upgrade to latest version if you can.

[2021-04-15 09:33] #24 closed

[2021-04-15 09:37] mathio commented on #190
Latest released version (>= 1) now works with server-side rendering. You can see [a demo implementation in Next.js here](https://github.com/Typeform/embed/tree/main/packages/demo-nextjs).

[2021-04-15 09:37] #190 closed

[2021-04-15 09:41] mathio commented on #197
Sorry about the delay on releasing the documentation. it is now up to date for version >= 1 on both Github and [our developers portal](https://developers.typeform.com/embed/).

You can also find the latest examples in [demo packages in the repo](https://github.com/Typeform/embed/blob/main/packages/), there is also [an example for React](https://github.com/Typeform/embed/blob/main/packages/demo-rea

[2021-04-15 09:41] #197 closed

[2021-04-15 09:57] mathio commented on #199
Sorry for the delay. I have added this to our backlog. We can send question ID (or ref) as payload to `onQuestionChanged`. I will let you know once this is released.

[2021-04-15 09:59] mathio commented on #214
I have added this to the backlog along with #199 as its related.

We display the form progress % based on current list of questions which could change based on logic jumps. The moment the logic jump fires the form length changes and the calculation changes too [See details on Progress widget in help center.](https://help.typeform.com/hc/en-us/articles/360029619371-Progress-widget-Classic-builder-)

[2021-04-15 10:00] mnapoli commented on #24
Thank you!

[2021-04-15 11:34] ch1ll0ut1 opened #217 "Size, Width & Height options are not implemented"
As the title states, none of this three arguments are currently working.
The source code shows thats its simple missing to assign the option to the iframe dom object:
https://github.com/Typeform/embed/blob/69c8d48262a32b177590ac2b375780f38abb0660/packages/embed/src/utils/create-iframe/create-iframe.ts#L8

[2021-04-15 15:22] jaunt commented on #214
For us, a pessimistic algorithm would be much better than one that bounces backward several times.  For example, if your progress algorithm calculated and assumed the longest path through the survey, then worst case progress would suddenly jump more than expected.  But that's totally fine.  What's crazy is when you get so close to 90% then it jumps back to 70%, several times! :-)

[2021-04-15 19:58] DanielWahl commented on #209
I tried the Response API with the Personal Token.
Everything is working fine on localhost with Cors enabled (via Browser Plugin)

But on production, I only get a `blocked by CORS policy: No 'Access-Control-Allow-Origin' header`- error.

Is there any possibility to add a Uri to the Typeform API, so the Requests does not get blocked?

The request is done via fetch on client side.

[code]

[2021-04-20 13:46] mathio commented on #217
It works, for example for popup you can specify `data-tf-size="80"` or `data-tf-width="600" data-tf-height="400"`, see:
https://tf-embed-next-popup-sizes.glitch.me/

For widget the form automatically takes space of the parent element. You can set the size of parent div to control it.

[2021-04-20 13:46] #217 closed

[2021-04-21 09:22] mathio commented on #215
Hello, unfortunately there is no way to reset this at the moment. I have reached out the team responsible for this part and will let you know when there is anything like this planned.

[2021-04-23 05:39] ch1ll0ut1 commented on #217
@mathio Sorry i wasn't explicit enough. The iframe used for the widget requires width/height settings or atleast the default of 100% for width and height. Currently the widget is not usable because it can not match its parent width & height. You can see the code here: https://codesandbox.io/s/hungry-brown-g173f?file=/index.html

The parent has full width of the window, typeform-embed simply has no

[2021-04-26 08:30] mathio commented on #199
Hello, we have recently implemented necessary changes to pass question `ref` to `onScreenChanged`. And we just released [version 1.2.0 to npm](https://www.npmjs.com/package/@typeform/embed) to support this feature. For details [see related section of README file](https://github.com/Typeform/embed/tree/main/packages/embed#callbacks).

[2021-04-26 08:30] #199 closed

[2021-04-26 08:31] mathio commented on #214
I am sorry I thought this would be more straightforward to implement but it is not.

Would it be sufficient for your use case to receive question ref? See issue #199.

If not, I will have to defer you to our @Typeform/conversations team.

[2021-04-26 16:32] jaunt commented on #215
Thanks.  It's funny because the old version doesn't seem to have this problem when used in pop-up mode.  Once it's closed it doesn't seem to retain where it was.  I hope this doesn't change, or I have no idea what we'll do.

[2021-04-26 16:44] jaunt commented on #214
Thanks for the help.  That probably would be useful, though would take some hacks to get working nicely.

[2021-04-26 20:04] mathio commented on #215
If I am not mistaken the progress is saved in browser local storage. It is saved and restored regardless of how you access the form - via embed or directly.

The only difference is when I access a form via custom domain and then use standard domain - the session is not persisted across domains due to technical and privacy limitations.

[2021-05-05 20:45] jaunt commented on #215
@mathio I think you're right -- I guess even the old versions has this problem.   So if a user of my webapp logs out, and another user logs in, their partially completed survey results will be still there.  On a shared computer this is pretty much a show-stopper I think.  Hmm.

[2021-05-05 21:18] jaunt opened #234 "New "takes N+ min" seems to mess up with the layout of the start bar."
![startbtn](https://user-images.githubusercontent.com/5732995/117210540-a8a07400-adac-11eb-9130-c082e78266f0.png)

There's almost no white space below the start button.  Looks very squished.

[2021-05-05 21:18] jaunt commented on #234
Also, we tell people it will take 10 minutes.  No idea where 7+ minutes is coming from.

[2021-05-05 21:33] mathio commented on #234
If the form does not fit into embed you can increase the height.

If you dont like the "Time to complete" feature, you can [turn it off when you are building your form](https://help.typeform.com/hc/en-us/articles/360052533131-What-is-Time-to-complete-).

[2021-05-05 21:35] jaunt commented on #234
@mathio Thanks!  Though it doesn't seem to matter what height I make it.  When I make the view narrow, it makes the grey bar at the bottom, and puts almost no space below the start button.

[2021-05-05 21:37] mathio commented on #234
Can you share a page with the embedded typeform? I will have a look tomorrow.

[2021-05-05 21:39] jaunt commented on #234
@mathio In order to take our survey you need to create a free account.  If you're willing to do that, singdaptive.com is where you do it from.  No worries if not!

P.s. is that option to turn off time to complete in the new builder perhaps?  We're still using the classic builder and I can't seem to find reference to it.

[2021-05-06 08:29] mathio commented on #234
I can see the issue now. I have raised this with our designer.

Yes, you can turn it off in old builder too. You will find the setting under "Question settings" (wrench icon next to welcome screen).

Or if you want access to new builder you can [permanently bring your form to new builder](https://help.typeform.com/hc/en-us/articles/360055204932-New-or-Classic-builder-Which-am-I-using-).

[2021-05-06 14:32] Jrodseth opened #236 "How to enable sandbox mode on an embedded form?"
### Is  `__dangerous-disable-submissions` supported for embedded forms and, if it is, how can it be enabled it for an embedded form using this library in react?

I'm using the `createWidget` function in a react app to embed a form as per the [react demo](https://github.com/Typeform/embed/tree/main/packages/demo-react) and attempting to set `__dangerous-disable-submissions` to prevent form submissi

[2021-05-06 14:37] mathio commented on #236
Latest version of the library currently does not support this. If you add it to hidden fields it will be added to url hash rather than query string.

[2021-05-06 14:59] Jrodseth commented on #236
@mathio thanks for your quick response. I double checked the iframe params based on your comment.

For anyone looking for a workaround, you _can_ append `&__dangerous-disable-submissions` to the iframe src and **replace the # preceeding your hidden fields with a ?**.

The # -> ? replacement enabled sandbox mode for my form 🎉

[2021-05-06 16:51] mathio commented on #236
@Jrodseth I am opening a quick PR #237 to fix this issue. You will be able to enable this by passing `enableSandbox: true` to embed options or `data-tf-enable-sandbox` to you HTML tag.

[2021-05-07 08:27] #236 closed

[2021-05-07 08:30] jenkins-tf commented on #236
:tada: This issue has been resolved in version @typeform/embed-v1.4.0 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/Typeform/embed/releases/tag/%40typeform/embed-v1.4.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-05-07 17:15] jaunt commented on #117
Note that it still seems like the major version is changing quite rapidly when it seems like it doesn't need to.  I.e. does 1.5.0 introduce breaking changes?

[2021-05-25 16:38] victorlaforga opened #247 "Error when embedding"
Who could help me out? I am trying to render my form on my site.

<img width="834" alt="Schermafbeelding 2021-05-25 om 18 37 52" src="https://user-images.githubusercontent.com/37700441/119535477-54bff400-bd88-11eb-8fd8-ccb88b64dbf0.png">

[2021-05-25 17:16] antoniofull commented on #247
Hi @victorlaforga  could you please create a minimal reproduction of the issue so that we can look at the code?  A jsfiddle would be ok.
Which version of Embed are you using? We have released recently a [new Embed version](https://github.com/Typeform/embed/tree/main/packages/embed) and we have also released a [React Library](https://github.com/Typeform/embed/tree/main/packages/embed-react)

Lookin

[2021-05-26 06:08] prilutskiy commented on #247
Indeed, there's no such function as `makeWidget` in embed `v1.0`, please use `createWidget` instead: https://github.com/Typeform/embed/tree/main/packages/embed

[2021-05-26 07:44] AdrienVictor commented on #177
Thanks a lot!

Just to make sure, the new version is this one right: "[Vanilla JavaScript Embed Library](https://github.com/Typeform/embed/tree/main/packages/embed) if you are not using React"

So only vanilla JS version?

[2021-05-26 09:03] victorlaforga commented on #247
Sorry for not reproducing the issue. Here is my code
[code]

[2021-05-26 10:44] AdrienVictor opened #249 "Angular+Typescript embed error"
Hello,

I'm having some issue while trying to embed the new version of the @typeform/embed package.
Following the instruction, I got the latest package version and my code is as follow on angular 11:

[code]

The **createPopup** function doesn't do anything, no errors but nothing happens either.

The **createWidget** function brings the following error while being displayed:

![image](https://user

[2021-05-31 07:43] mathio commented on #247
Hello @victorlaforga , the code you provided works just fine for me. You can check it out in a CodeSandbox here:

https://codesandbox.io/s/determined-haze-n7iuw?file=/src/App.js

[2021-05-31 07:48] #214 closed

[2021-05-31 08:13] mathio commented on #177
@AdrienVictor thats correct!

[2021-05-31 09:55] victorlaforga commented on #247
Yes it works now thanks!

[2021-05-31 09:55] #247 closed

[2021-05-31 15:00] mathio commented on #249
Hello @AdrienVictor ,

it is hard to tell about `createPopup`, since you did not provide the code that calls `openTypeform` method. One thing that comes to my mind is that you just created the popup but did not open it - you need to call `open()` or `toggle()` on the popup (see [example](https://github.com/Typeform/embed/blob/main/packages/demo-html/public/popup-js.html)).

As for `createWidget` i

[2021-06-01 13:56] AdrienVictor commented on #249
Hi @mathio !

I'm sorry but I don't get what you mean. I cannot use an HTML script with typeScript. I am calling the function as follow in my HTML:

`      <button nbButton hero status="info" shape="round" (click)="openTypeform()">APPLY test</button>
`

I followed the npm package installation guide and based on what is the readme I don't need to do anything in the HTML and just pass the createPopu

[2021-06-02 10:42] nachumFreedman opened #255 "How do I get onmousemove events or different events from the react component"
We are using useRef to embed the component in react underneath I saw 2 nested divs and an iframe, I tried a few different techniques to add event listeners to the current.children but nothing works, can we expose a callback. to createWidget?

[2021-06-02 10:50] mathio commented on #255
I dont think you can listen for mouse events over an iframe for security reasons.

We currently do not plan to expose those events through the lib. What is your use case and what are you trying to achieve? Maybe I can help?

[2021-06-03 10:59] nachumFreedman commented on #255
We are trying to record how many mouse movements the user makes throughout their form.

[2021-06-04 08:41] mathio commented on #255
This looks like a very specific use-case and we do not see added value for many customers.

The answer from StackOverflow says it works only if the domain matches (this is enforced by browser for security reasons) and unfortunately that is not your case.

Maybe you could connect your typeform to one of analytics tools to achieve this? https://www.typeform.com/connect/c/analytics-reporting/

[2021-06-04 08:46] #255 closed

[2021-06-04 09:06] mathio commented on #249
It is hard to tell when you do not provide full code.

I was able to integrate the embed lib with Angular, see this codesandbox:
https://codesandbox.io/s/embed-next-angular-c9n9u

Feel free to use it as a base for your component.

The documentation on CSP headers I linked to explains the console error you shared.

[2021-06-04 09:06] #249 closed

[2021-06-06 10:44] AdrienVictor commented on #249
Hello,

Coming back to you with a fix you may not have thought of.
I checked your example and it is working perfectly. However, when I reproduced it in our production project the styling did not seem to take effect.
Then I noticed that you used basic css in your demo while we are using scss.

I found out that in this case you also need to import the typeform css in the global style.scss file as fo

[2021-06-08 09:26] kwiznix opened #260 "Hidden fields stay empty?"
Hello,

I try to use hidden field but when I look in Postman I see the hidden fields empty?

My code:
`createPopup(formID, {
      size: 90,
      open: "load",
      hidden: {
        customerID: user,
        productArea: RMProductArea,
      },
      onSubmit: (data) => {
        checkResponse(data.responseId);
      },
    });`

both user as RMProductArea are variables with strings as values

[2021-06-08 09:58] mathio commented on #260
Hello @kwiznix

Since hidden fields can contain sensitive information they are added to the URL hash for security purposes. I think you will not see them in network request (Postman or dev tools) nor will they be logged in any network logs.

If you inspect your page source code you should see an iframe with src - the URL points to your typeform and it should contain `#` sign with hidden fields aft

[2021-06-08 10:08] kwiznix commented on #260
Ah right, I see them in that url, for now I dont need them in typeform itself.

What I need to do is get the results of a Typeform with a certain ID, and do some stuff with that data, also I need those 2 values, is there a way to do this with Typeform? but now I think about it, i think I can add that data manually when I am doing that stuff in the code, and dont need typeform to do that for me, th

[2021-06-08 12:48] mathio commented on #260
@kwiznix you should [setup hidden fields in your typeform](https://help.typeform.com/hc/en-us/articles/360052676612-How-to-use-Hidden-Fields) even if you dont need to display the data in the typeform itself. Hidden fields will be included in the results.

[2021-06-08 12:48] #260 closed

[2021-06-09 10:15] mathio commented on #215
Hello @jaunt, sorry for the late response.

The direction we decided to take is to allow you to disable this feature (saving answers to local storage) in builder. Would this help your use case?

The team responsible for this is looking into it and we will let you know when it is available.

[2021-06-10 15:24] jaunt commented on #215
Hi @mathio, I'd likely make use of that yes, simply for privacy reasons, but it's a little unfortunate as being able to work on the survey and come back later is a nice feature.

[2021-06-29 11:09] prilutskiy opened #270 "A test issue"
Hello, my name is Max Prilutskiy, I'm testing the Github <> JIRA integration.

[2021-06-29 11:13] #270 closed

[2021-06-29 11:15] cathalelliott1 opened #271 "Test for zapier automation"

[2021-06-29 11:16] prilutskiy opened #272 "Another test github issue"
Hello, it's me

[2021-06-29 11:17] #272 closed

[2021-06-29 11:19] prilutskiy opened #273 "Github issue with bold / italic text and an image"
**Bold**
_Italic_

[Link to google.com](https://google.com)

![photo-1586455122412-4576812ffe42](https://user-images.githubusercontent.com/5614659/123788667-f76a1600-d8e4-11eb-888c-209e64da2125.jpeg)

[2021-06-29 11:21] #273 closed

[2021-06-29 11:21] #271 closed

[2021-06-29 11:30] rafaelverger opened #274 "Are PR to master branch/classic lib still accepted?"
HI, I'm seeing some unexpected behaviour while working with transferableUrlParameters (data-transaferable-url-parameters) when the querystring param is not present.

The [master code](https://github.com/Typeform/embed/blob/master/src/core/utils/url-parameters-transfer.js#L17-L21) that handles search params has this code below:

[code]

So the method is forcing all params from `data-transaferable-u

[2021-06-29 12:05] mathio commented on #274
Hello @rafaelverger

while we are focusing our development of new features on new version ([v1 in main branch](https://github.com/Typeform/embed/tree/main)) we did not drop support for previous version ([v0 in master branch](https://github.com/Typeform/embed/tree/master)). There are still many of our customers that are using previous version.

We are interested in any bugfixes in the master branch

[2021-06-29 12:44] prilutskiy opened #275 "Test ticket"
A desription

[2021-07-01 07:57] mathio commented on #274
#277 is merged

[2021-07-01 07:57] #274 closed

[2021-07-01 08:02] jenkins-tf commented on #274
:tada: This issue has been resolved in version 0.36.1 :tada:

The release is available on:
- [npm package (@@release-0.x dist-tag)](https://www.npmjs.com/package/@typeform/embed/v/0.36.1)
- [GitHub release](https://github.com/Typeform/embed/releases/tag/v0.36.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-07-02 03:55] bryanthuan opened #280 "onQuestionChanged fire twice on first question"
Dear all
I have my Widget using Embed React as bellow, and the onQuestionChanged fired twice on the first question
Do you have any idea about this?

`<Widget
    id={ENQUIRY_FORM_ID}
    onReady={() => {
      console.log('form ready');
    }}
    onQuestionChanged={(data) => {
      console.log('question changed to ref:', data.ref);
      const matchedEvent = eventData.find((item) => item.id ===

[2021-07-02 13:38] FrontendCrypto opened #282 "Add onEnd (onFinish) callback"
Hi, good afternoon. Would be possible to add a new callback `onFinish` or similar? It would be useful when opening surveys in custom modals. The idea is to be allowed to do something when button in ending page (after submitting the survey) has been clicked.

In my case I want to close my custom modal when user click the last button in the survey.

[code]

[2021-07-02 13:41] prilutskiy commented on #282
That's an interesting case, @pcarballeda, thanks for reaching out!

@mathio WDYT?

[2021-07-05 07:49] mathio commented on #282
I like the idea, lets put it into our backlog.

[2021-07-05 08:03] mathio commented on #280
Thank you for reporting this, we will look into it. I can confirm this is fired twice for forms with welcome screen.

[2021-07-05 11:49] galkrisztina opened #284 "Typeform chat is not embedding on SPA app's components (having Nuxt Js app with client side rendering - Vue js components)"
Hi!

I am trying to embed the typeform chat with the `div` and `script` tags generated by the platform:

`<div data-tf-chat data-tf-tooltip="Please consult with our digital assistance" data-tf-open="load" data-tf-popover="nxUDrRT2" data-tf-button-color="#FA6B05"></div><script src="//embed.typeform.com/next/embed.js"></script>`

I have a Nuxt Js app with client side rendering (SSR = false) which me

[2021-07-05 12:01] mathio commented on #284
Hello @galkrisztina,

we have not tested the lib with Vue framework, however a version for Vue is planned in future. In the meantime you should be able to embed using [Vanilla Embed Lib](https://github.com/Typeform/embed/tree/main/packages/embed#from-cdn).

Are you sure that the `<script>` you included in your `.vue` file is being loaded? This article suggests you might need to use a different app

[2021-07-05 12:08] galkrisztina commented on #284
Hello @mathio !

Thanks for the quicky answer. Yes, I am 100% that the script is loaded because I see the request from the Network tab and the typeform's embed js is given back as the response. Yes, I see that in the example given by you is working, but now please go to the `nuxt.config.js` and on the first line of the config object please set `ssr: false`, because Nuxt apps can be used in two way

[2021-07-06 09:39] zendevil opened #286 "Seemingly https related Error in embedding Typeform"
I have embedded a form in typeform in my webpage in development but it's giving me the following error:

<img width="1182" alt="Screen Shot 2021-07-06 at 2 38 50 AM" src="https://user-images.githubusercontent.com/30054030/124578752-58bd4800-de03-11eb-99f7-66e9efe8c6e9.png">

How to fix this?

[2021-07-06 10:34] mathio commented on #284
I have [modified the Codesandbox example](https://codesandbox.io/s/tf-embed-vue-nuxtjs-9zqrc?file=/pages/index.vue) to use `ssr: false` and updated the code to make the popover embed work. Excuse my code, this is my first time working with VueJS :)

You need to install the lib as dependency instead of linking to CDN. (Linking to CDN is suggested mostly for static HTML or when you are not developin

[2021-07-06 10:40] mathio commented on #286
Hello @zendevil

We have CSP headers setup to prevent embedding on non-secure sites, but the header should be `content-security-policy-report-only` for now. It should report the CSP error in console, but not prevent you from actually embedding.

Can you please share your typeform id or URL so I can look into this further?

[2021-07-06 11:00] #275 closed

[2021-07-06 13:08] zendevil commented on #286
typeform id: Z5ZNZmYN
url: https://b2aqff84ky0.typeform.com/to/Z5ZNZmYN

[2021-07-06 15:49] mathio commented on #286
Thank you. I have just found out we are updating our CSP headers to `content-security-policy: ... frame-ancestors https: ;` (without the `-report-only` in header name). This means that the iframe will really be blocked when you embed it on a page without HTTPS. This is to protect respondents and nowadays is a standard to serve websites over HTTPS.

This can be annoying when developing on local mac

[2021-07-07 02:34] BrunoAderaldo commented on #209
Hello @DanielWahl, did you manage to fix that? I have the same issue, using pretty much the same solution, but I always get this error about CORS.

[2021-07-07 02:56] benaltair opened #288 "`import` issues on Netlify, SvelteKit and ViteJS"
I'm getting the following error when building on Netlify:
[code]

This traces back to:
[code]

The code above works fine in the dev environment but isn't accepted by Netlify. I haven't seen it on any other libraries. Unfortunately the solution in the error message doesn't work locally (although it works in Netlify).

It's not a permalink, but you can currently see the code context at this branch:

[2021-07-07 07:21] mathio commented on #288
Hello @benaltair

I think this might be an issue with SvelteKit, please see the discussion here: https://github.com/sveltejs/kit/issues/928

Also related: https://github.com/vitejs/vite/issues/3024

[2021-07-08 01:07] benaltair commented on #288
Hi @mathio - yes, looks like Vite isn't able to handle the CJS imports well. Is ESM on the horizon for the Typeform library by any chance?

[2021-07-08 01:39] benaltair commented on #288
Upon further inspection, the solution in the error message does indeed work:
[code]
I'll close this for now, but would love to see ESM support for Typeform. 😊

[2021-07-08 06:19] pcarballeda commented on #282
Thank you!

[2021-07-08 06:48] mathio commented on #288
I went through the docs https://nodejs.org/api/esm.html and I think our lib is ECMAScript module.

BTW It is completely fine to import the lib and use it like this:
[code]

Could you please provide more details on what you mean by "ESM support" and what are we missing in our lib?

[2021-07-08 06:50] mathio commented on #286
Our wonderful security team updated the CSP headers to allow HTTP on `localhost`:

[code]

All other websites need to be served over HTTPS.

[2021-07-08 06:50] #286 closed

[2021-07-14 19:52] benaltair commented on #288
Hi @mathio, I'm pretty unfamiliar with ES modules to be honest, but from what I understand it has to do with exports - right now only a default export is provided (I believe) and it would be nice to provide separate exports in addition the default, rather than exporting the entire module and then using dot notation.

[2021-07-14 21:27] benaltair commented on #288
Looking closer it does look like this library is using CommonJS modules, not ES modules.

https://developer.typeform.com/embed/

What I would like to request consideration of is to provide an ES module to support more workflows.

[2021-07-15 00:48] aclaghorn opened #293 "Typescript import embed-react issue"
Typescript is throwing errors when importing components in the format used in the documentation:

# Problem Code
Code:
[code]

Error:
[code]

# Workaround
I found this works to work around the issue:
[code]

[2021-07-15 13:08] mrisoli commented on #293
Hi @aclaghorn we have added this issue to our backlog and should address it in the upcoming weeks.
In the meantime, you can create your own .d.ts file with a simple declaration:

[code]

[2021-07-15 16:09] iampava opened #295 "`yarn build` fails with error in `inline-style.tsx`"
Hey! I'm trying to play with this locally to better understand how to use it in our product, but the project fails when trying to build it.

**How to reproduce:**

1. clone project
2. `yarn start` in root
3. `yarn build`

**Error:**
![image](https://user-images.githubusercontent.com/11327761/125820978-7162ae8f-b9ee-4ebe-9fc5-e5a3604448b5.png)

System info:
* Windows 10
* Node v16.1.0

[2021-07-26 14:17] kwiznix opened #298 "Use popup without the button"
Hi,

Is there a way to use the popup without the build in button?
I want to use my own button

Thanks in advance!

[2021-07-27 09:09] mathio commented on #298
Hello @kwiznix , you can [see an example in our README](https://github.com/Typeform/embed/tree/main/packages/embed#from-cdn):

[code]

[2021-07-27 09:10] #284 closed

[2021-07-27 09:14] kwiznix commented on #298
Hi, I am using the embed-react package

[2021-07-27 09:39] mathio commented on #298
If you want to open the popup using a button I suggest you pass _className_ or _style_ props to the _PopupButton_ to customize it. Is there anything you are not able to achieve this way?

If you dont want to use a button at all, you can use the vanilla embed lib directly. See [an example from my article on Medium](https://medium.com/typeforms-engineering-blog/building-typeform-react-embed-sdk-e398

[2021-07-27 09:51] mathio commented on #295
Hello @iampava

I am looking into this and I am unable to replicate the issue. I dont have access to a Windows dev machine at the moment, but it looks like the issue might be with a symlink - the `css` directory is a symlink. Maybe the symlink is not working on Windows? I found [you might need to enable symlinks manually](https://github.community/t/git-bash-symbolic-links-on-windows/522/4)?

[2021-07-27 10:02] mathio commented on #288
I see there is `"module": "CommonJS",` in [tsconfig.js](https://github.com/Typeform/embed/blob/976eaa9d693dac9e6c2b1171d89024b49a62f78f/packages/embed/tsconfig.json#L5), however it looks like we are actually using ES modules syntax. @prilutskiy you added this config, do you have any more knowledge on this? Honestly I am a bit lost here :) Maybe its just an incorrect config?

[2021-07-28 09:10] mathio commented on #298
Hello @kwiznix , did this solution work for you? Can we close this or do you need any further assistance?

[2021-07-28 09:16] kwiznix commented on #298
Yes, I used the @TypeForm/embed before and it worked perfectly and suddenly it stopped working (not showing popup, but only a small screen at the lower left side of the page), So I tried the @typeform/embed-react, since my application is in react as well. In this package it wasnt possible to use it the button I did use, so went back to the @TypeForm/embed package and found out there was a type in

[2021-07-28 09:16] #298 closed

[2021-07-28 15:43] dennisnewel commented on #215
I have the same issue on an app that embeds typeform. i currently embed it using an iframe, and provider my users the option to re-do a particular survey. having the browser cache repopulate everything is leading to issues where users change their answers, but some end up being blank and others don't seem to take the changes (possibly user error).

@mathio any progress on being able to disable the

[2021-07-30 07:48] #293 closed

[2021-08-05 16:44] Lucaszw opened #311 "Recently stopped working inside Capacitor and Cordova Applications"
This week we began receiving the following error:

**Refused to load .. the frame-ancestors directive of the Content Security Policy.**

This occurs when attempting to load the embedded iframe from within both Cordova and Capacitor mobile frameworks. This only recently started occurring (within the last week or so). No changes to this component of our code base was made within this time. Was there

[2021-08-06 06:23] mathio commented on #311
Hello @Lucaszw

yes it is possible this is related. Unfortunately this is not something we can revert. Our security team was working on making typeforms more secure for everyone and this is part of it. [You can read more why we did this on our community portal.](https://community.typeform.com/developers-corner-44/embedded-forms-now-require-https-2534)

Maybe you can try [solution from this Stack O

[2021-08-06 16:18] Lucaszw commented on #311
We tried this unfortunately
[code]

Still receiving

[code]

However:

When we load the form using the inappbrowser plugin things work as expected
https://cordova.apache.org/docs/en/10.x/reference/cordova-plugin-inappbrowser/

Although this requires us to adjust our user experience (as previously we were embedding the frame into a modal)

[2021-08-06 16:23] Lucaszw commented on #311
I don't know if this is related but..

Is there something you could do to maybe allow requests starting with ionic:// to bypass the security policy (also possible localhost)? I saw this article here, and i don't know if its related to your setup:

https://www.digitalocean.com/community/tutorials/how-to-secure-node-js-applications-with-a-content-security-policy

[2021-08-07 18:28] bhayanishuchi commented on #295
I have similar type of error.
![image](https://user-images.githubusercontent.com/32640339/128610490-c883f8d3-adb0-4e03-aa1d-4a17027cfc22.png)

[2021-08-10 20:47] fivesquared opened #313 "Embed JS in Chrome giving id=null error"
![Screen Shot 2021-08-10 at 3 46 28 PM](https://user-images.githubusercontent.com/567670/128932763-79b79a4e-65de-4fd0-9e66-03e8057d6630.png)

The form gives this error after the welcome screen

[2021-08-11 23:35] benmccann commented on #288
This library appears to me to be using UMD: https://github.com/Typeform/embed/blob/bc9ddcb1c515617053c9d07480037cfa4a53f714/packages/embed/webpack.config.js#L50

Rather than use UMD and try to serve both browser and server with a single build, the nicer thing to do is typically to output a CJS build specified in `main` and an ESM build specified in `module` in `package.json`

[2021-08-13 15:54] patosullivan commented on #311
Hey, FYI: this same issue is happening in a WebView in react-native.

[2021-08-16 07:32] mathio commented on #311
@Lucaszw our security policy already allows embedding on `localhost` without HTTPS. This is to facilitate local development setup. Does it also apply to your case?

[2021-08-16 07:34] mathio commented on #313
Hello @fivesquared

can you please share the embed code you are using so we can look into this issue?

Does this error also happen when you access the form directly via URL (without embedding it)?

[2021-08-16 14:36] mathio commented on #295
I tried replicating this on Windows 10 in VM and run into the same issue. We should get rid of the symbolic links to make sure this works on all platforms. However this is currently not a priority since in our team everyone is using MacOS or Linux systems.

If you would like to implement new features in embed repo on Windows I'd suggest to look into this issue first. We

[2021-08-17 00:43] matthewshirley opened #318 "iOS submissions with `__dangerous-disable-submissions` set as `true`"
We have started seeing submissions with the `__dangerous-disable-submissions` query parameter equal to true since July 17th 2021, and potentially earlier, when using the embed library. We have determined that this is limited to full-screen widgets, typically happening on iOS.

Upon submission of the embedded Typeform, users are redirected back to a different page on our web application. In our log

[2021-08-17 02:31] swyftx-ryan commented on #311
@mathio Any plans to fix this problem on react native? No webview seems to be working. Loads correctly if in browser localhost.

[2021-08-18 08:42] mathio commented on #318
Hello @matthewshirley

the PR you are referring to if for embed v0 only. Would updating your embed code to v1 help solve this issue?

When you use embed SDK v0 and embed as widget on mobile we display an iframe with welcome screen (this URL has `__dangerous-disable-submissions=true`). When button on this welcome screen is clicked we open fullscreen modal window with another iframe. This iframe doe

[2021-08-20 09:45] martino2k6 opened #363 "callback functions not firing when embed is loaded in HTML from CDN"
Hi folks, we use the `onSubmit` callback function to perform some handling but this stopped working in the last couple of days. The way we load the embed library is as described in the first code snippet [here](https://github.com/Typeform/embed/tree/main/packages/embed#from-cdn). You can see a similar sample project at https://boulder-smart-aragon.glitch.me/. The console logs inside of the callbac

[2021-08-20 10:18] maxprilutskiy commented on #363
Thanks for letting us know! Do you mind attaching a simple repo with a reproducible example?
Please do, and I’ll make sure the team will take a look as soon as possible 😉

[2021-08-20 10:32] martino2k6 commented on #363
- https://glitch.com/edit/#!/boulder-smart-aragon (broken)
- https://glitch.com/edit/#!/mixed-power-ocelot (working)

Please let me know if the two above are not sufficient and I can look into providing the example differently.

[2021-08-20 10:52] maxprilutskiy commented on #363
Gotcha, thanks. Let's see what we can do about it.

[2021-08-20 11:40] martino2k6 commented on #363
We have just discovered that putting the `<script>...</script>` section with the callback functions before `<script src="//embed.typeform.com/next/embed.js"></script>` has made it work, but we've always had the load script first as far as I can tell from out VCS history 🤷‍♂️

[2021-08-20 15:11] scarciofolomarco commented on #363
Hi @martino2k6, was about to suggest you that, since that's on global scope you have to instantiate the functions first so then you can pass them to the embed element.

[2021-08-23 12:13] jenkins-tf commented on #318
:tada: This issue has been resolved in version 0.36.5 :tada:

The release is available on:
- [npm package (@@release-0.x dist-tag)](https://www.npmjs.com/package/@typeform/embed/v/0.36.5)
- [GitHub release](https://github.com/Typeform/embed/releases/tag/v0.36.5)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-08-23 19:23] mathio commented on #363
This was most likely caused by #320 to change how the lib is initialized. Previously it was initialized at page load, however some pages were injecting it dynamically later and the event was never fired. Now we initialize the lib as soon as it is loaded which causes this issue.

We will look into it. In the meantime please define your callbacks before you load the lib. Sorry for the inconvenence.

[2021-08-23 20:31] martino2k6 commented on #363
Yeah, we have already done the change in the meantime.

Thank you for looking into it, I'm glad you've managed to find a potential culprit. We were definitely a bit surprised when things stopped working on our end, but at least we learned something about JS ☺

[2021-08-23 23:21] shatran commented on #363
Also experienced the same issue, also started 4 days ago, which caused our analytics to freak out (we use the callback to redirect to a completion page, as the form is embedded in an iframe). Just tried @martino2k6's solution and it seems to work. Maybe worth changing the examples in the docs.

[2021-08-25 09:15] mathio commented on #318
We have removed the `__dangerous-disable-submissions` parameter. This might mess up some analytics for widget forms on mobile (form view events) but we are working on a different fix for that one.

[2021-08-25 09:15] #318 closed

[2021-08-25 09:16] mathio commented on #313
@fivesquared can you please provide more information or can we close this?

[2021-08-25 10:21] #363 closed

[2021-08-25 10:25] jenkins-tf commented on #363
:tada: This issue has been resolved in version @typeform/embed-v1.17.7 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@typeform/embed/v/1.17.7)
- [GitHub release](https://github.com/Typeform/embed/releases/tag/%40typeform/embed-v1.17.7)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-08-30 09:30] #313 closed

[2021-08-31 13:01] jenkins-tf commented on #293
:tada: This issue has been resolved in version @typeform/embed-react-v1.1.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@typeform/embed-react/v/1.1.0)
- [GitHub release](https://github.com/Typeform/embed/releases/tag/%40typeform/embed-react-v1.1.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :packa

[2021-09-08 14:38] richard-underwood opened #379 "IE11 error when using Widget in Gatsby"
Hi,

I'm currently developing a site which will embed Typeforms using <Widget>. All looks good on modern browsers, but on IE11 (which unfortunately needs to be supported) I receive the following:

SCRIPT438: Object doesn't support property or method 'append'

I've tracked this down to packages/embed/src/factories/create-widget/create-widget.ts

`options.container.append(widget)
`
Gatsby defaults t

[2021-09-09 08:47] mathio commented on #379
Hello @richard-underwood , have you tried adding any polyfills such as https://vanillajstoolkit.com/polyfills/append/ ?

We will look into this, however I can not give you a timeline right now. The best approach would be to also run tests in IE11 to make sure it does not break in future.

Is the `append` the only thing thats preventing IE11 compatibility? If it is, maybe you can open a pull reques

[2021-09-09 10:09] richard-underwood commented on #379
Hi, thanks for getting back to me. A polyfill works in the short-term (I was using https://polyfill.io/v3/polyfill.js?features=Element.prototype.append), and everything seems to work once that's in place.

I'm stacked at the moment, so won't be able to do a pull request right now, but I may do in a bit. I think it's just a case of changing append() to appendChild(), but haven't looked at it in-dep

[2021-09-11 18:50] controversial opened #380 "No way to autofocus Widget"
Some modalities (like Popup) autofocus when they open, but I can only autofocus the full-screen “embed” form if I use
[code]
However, this is undocumented so feels a bit brittle to me, and I don't want it to break if something changes about the implementation of the embedded page. Is there a better way?

[2021-09-13 20:46] theycallmeswift opened #382 "BaseOptions `hidden` incompatible with HTMLAttributes"
I have a simple button definition that extends the default HTML attributes:

[code]

When I try to use a `PopupButton`, I get the error below because the definition of hidden in `BaseOptions` is incompatible with the standard definition of the hidden attribute.

[code]

[2021-09-14 07:06] mathio commented on #382
Hi @theycallmeswift

the `hidden` attribute of `PopupButton` component is a `Record`. This record is passed in URL fragment to your form as [hidden fields](https://help.typeform.com/hc/en-us/articles/360052676612-How-to-use-Hidden-Fields).

Right now you can pass only `style`, `className` and `children` to the button component opening the popup embed.

Would this update help? #383

[2021-09-14 07:07] mathio commented on #380
Yes, you can use this event. We should probably document this.

[2021-09-14 08:20] CHEWX opened #384 "Triggered action needs to be clear"
Hi,

Great job with the SDK, however from a documentation point of view it's really not that clear that you can trigger an element with a custom button. The `open` param gives 4 options and none of which are triggered.

It's only after delving through comments that the only way to do this is to use the method `.open()` which isn't documented.

See also, https://github.com/Typeform/embed/issues/298

[2021-09-14 08:36] mathio commented on #384
Hello @CHEWX

one of the first examples in the README documents how to open a popup window on button click: https://github.com/Typeform/embed/tree/main/packages/embed#from-cdn

How would you improve the docs? Feel free to update the README and open a PR.

[2021-09-14 08:40] CHEWX commented on #384
Sure, that's under the "From CDN" title, most would ignore that, I did anyway as it's not relevant.

I was really looking here — https://github.com/Typeform/embed/tree/main/packages/embed#custom-launch-options

As always, will try and PR when I get time, but thought I'd reference an issue incase someone else jumps on it.

[2021-09-14 14:30] theycallmeswift commented on #382
@mathio not sure if I understand how to use the changes in the update in my code. I'm currently just importing `PopupButton`.  Is the idea here that I should just call the `makeButtonComponent` function directly?

[code]

My 2¢ here: I'd actually recommend renaming the `hidden` attribute to something else (maybe a data attribute?). In general it feels confusing to create a component that only beha

[2021-09-16 12:56] jonyramos opened #387 "Forms not loading in IE11"
Hi,
   I've been working on a project with **@typeform/embed** and until yesterday it worked correctly in IE11. Now we are having a problem loading the forms.

**Console output**
[code]
It seems  maybe like you are not transpiling the lib **kof/animationFrame**, because there are some arrow functions in [https://renderer-assets.typeform.com/vendors~form.6a663efa749ef412c805.js](https://renderer-as

[2021-09-16 14:40] jasonperrone opened #388 "Is Subresource Integrity checking possible with embed.js?"
I'd like to implement SRI checking for the CDN retrieval of embed.js. Typically that is only possible when the script is static, i.e. a specific version. I am not seeing a way to pull a specific version of embed.js in CDN, so is it even possible to SRI check this library?

[2021-09-17 09:35] mathio commented on #388
To pin specific version of this package you can install it locally via `npm` or `yarn`.

If you want to load form CDN and pin specific version you can use https://unpkg.com/

BTW is there a specific reason why you dont want to install it locally?

[2021-09-17 09:40] mathio commented on #387
Hello @jonyramos ,

this seems to be an issue with our renderer app (that displays the form), not the embed SDK itself. I have brought it up with the team responsible for the renderer app.

Are you seeing the same issue when you access your typeform directly via URL?

[2021-09-17 09:58] mathio commented on #387
[Officially we do not support IE 11](https://help.typeform.com/hc/en-us/articles/360029423551-FAQ) even though we try to make sure basic functionality works.

Please [contact our support](https://help.typeform.com/hc/en-us/requests/new) and they will make sure your request reaches correct team.

[2021-09-17 09:58] #387 closed

[2021-09-17 11:19] jonyramos commented on #387
Thanks! i'll do that.

So is this documentation out of date?
[https://developer.typeform.com/embed/#requirements](https://developer.typeform.com/embed/#requirements)

[2021-09-17 11:57] jasonperrone commented on #388
Your last question is the most thought provoking. Since we're doing SRI checking on our scripts necessitating locking to static files, the case for installing it locally becomes pretty compelling. I'll have to talk to the web site managers about that.

Thanks for pointing me to unpkg as well. That's a great solution if they for some reason don't want to install locally.

[2021-09-17 12:00] jasonperrone commented on #388
Well I guess one argument against install locally would be that if I did want to upgrade, I could just bump the version in the that we're including and compute a new sha. I wouldn't have to download the new version. Still though, I would imagine there is a performance improvement hosting it locally.

[2021-09-17 14:25] jasonperrone commented on #388
I must be stupid. I cannot figure out the correct unpkg for embed.js. Anyone know it?

[2021-09-20 09:57] mathio commented on #382
You can pass props for the button like this once the PR is merged:

[code]

Changing the name now would mean releasing a backward incompatible version which we dont want to do right now. `PopupButton` does not want to behave partially like an HTMLElement, it just provides a shorthand for `className` and `style` attributes to be passed to the underlying HTML element (eg. `button`). At the time we c

[2021-09-20 10:06] mathio commented on #388
You can use a URL like this for the JS bundle:
https://unpkg.com/browse/@typeform/embed@1.19.0/build/embed-next.js

You can find other files such as CSS here:
https://unpkg.com/browse/@typeform/embed@1.19.0/build/

Yes you need to download the new version, however I would not call it an issue since the file size is quite small. If you were to use `yarn` or `npm` it will do everything automatically

[2021-09-20 10:06] #388 closed

[2021-09-20 10:15] #382 closed

[2021-09-20 10:18] typeform-ops-gha commented on #382
:tada: This issue has been resolved in version @typeform/embed-react-v1.1.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@typeform/embed-react/v/1.1.2)
- [GitHub release](https://github.com/Typeform/embed/releases/tag/%40typeform/embed-react-v1.1.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :packa

[2021-09-20 11:24] mathio commented on #387
I am afraid it is. This should be the official list: https://help.typeform.com/hc/en-us/articles/360029423551-FAQ

[2021-09-20 11:35] mathio commented on #379
Although this would be a nice-to-have feature we dont officially support IE 11 anymore - [official list of supported browsers is here](https://help.typeform.com/hc/en-us/articles/360029423551-FAQ). However is is definitely nice to have feature and if this is the only issue (the mentioned `append`) we could look into it.

[2021-09-20 11:43] jasonperrone commented on #388
Thank you.

[2021-09-20 16:12] gregsj opened #390 "transitiveSearchParams doesn't properly set hide welcome"
I'm trying to hide the welcome screen depending on the referring page of my website using createWidget. However when I add `transitiveSearchParams: ["typeform-welcome=0"],` the parameter is not added to the iframe url and the welcome screen still loads.

[2021-09-20 16:25] mathio commented on #390
What are you trying to achieve? If you want to display your widget inline on mobile see the option [`inlineOnMobile`](https://github.com/Typeform/embed/tree/main/packages/embed#options) and we will not force a welcome screen on mobile (and will not open your typeform in modal window). If you dont want a welcome screen just remove it in builder.

BTW `transitiveSearchParams` will only add params to

[2021-09-20 20:04] gregsj commented on #390
@mathio we have multiple paths to get to the same form. Some of the paths we want to show the welcome screen whereas others we don't. I'd like to be able to be able to set whether to show the typeform welcome screen dynamically in my code.

To do this I've tried adding the tansitiveSearchParams to my create widget function and per your suggestion to my pages URL but still see the welcome screen. C

[2021-09-21 09:56] mathio commented on #390
This works as expected, params defined in `transitiveSearchParams` are correctly passed from host page URL to the form: https://glitch.com/edit/#!/lush-tide-geese

[2021-09-22 09:30] richard-underwood commented on #379
Hi - when did you stop supporting IE11? I thought it was supported still.

I've added a polyfill for append and everything seems to be working now, thanks.

[2021-09-27 10:21] zerosoul opened #394 "chat mode not trigger onReady event"
when I set chat as true, can not trigger `onReady` event

[2021-09-27 10:36] mathio commented on #394
This works for me:

[code]

https://glitch.com/edit/#!/organic-oasis-output

Can you share more details, eg. your code please?

[2021-09-27 10:36] #390 closed

[2021-09-27 19:05] mathio commented on #234
This has been fixed recently.

[2021-09-27 19:05] #234 closed

[2021-09-29 20:29] Cavitt commented on #311
This also happens if the embedding page is sersved via iframe w/ a sandbox attribute, regardless of HTTPS.

The fix for this is adding `allow-same-origin` to the sandbox attribute.

[2021-10-04 13:17] hicreate commented on #311
Yes this is an issue on webviews, makes using typeform embeds impossible on iOS devices.

[2021-10-04 13:27] hicreate commented on #311
capacitor serves over capacitor://localhost so maybe the policy could be updated to allow that as well as localhost?

[2021-10-04 14:02] #394 closed

[2021-10-05 08:53] #384 closed

[2021-10-05 12:48] typeform-ops-gha commented on #384
:tada: This issue has been resolved in version @typeform/embed-v1.19.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@typeform/embed/v/1.19.1)
- [GitHub release](https://github.com/Typeform/embed/releases/tag/%40typeform/embed-v1.19.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-10-07 05:50] Razzemmatazz commented on #311
I've got a version working, it isn't perfect for all circumstances, but check my fork of react-native-typeform-embed, which uses WebView, for an initial implementation.

https://github.com/Razzemmatazz/react-native-typeform-embed

[2021-10-08 10:01] bde-maze opened #400 "No ways to add title to Iframe"
Hello there,

To fully pass the LightHouse test, it would awesome to be able to add a title param to the widget, like so:
`      <Widget
        title="Contact form"
        id={formId}
        style={{ width: '100%', height: '600px' }}
        className="my-form bg-gray-300"
      />`

What do you think, how can we make this happen?

Bests

[2021-10-08 15:38] mhamas opened #401 "Modal opened by PopupButton closes randomly on its own"
I'm trying to use `PopupButton` as follows

[code]

Clicking on the button correctly shows the popup. However, the popup always closes itself after some random period of time (usually up to 20 seconds). It seems to happen randomly and happens regardless of whether I type into the popup, or just leave it opened and don't touch it from the very beginning.

[2021-10-10 13:04] mathio commented on #400
@bde-maze @maxprilutskiy good idea, please see PR #402

[2021-10-11 09:32] #400 closed, assigned to nobody

[2021-10-11 09:57] #401 closed, assigned to nobody

[2021-10-12 10:36] Godofbrowser opened #403 "Core now requiring react - no longer framework agnostic?"
https://github.com/Typeform/embed/blob/main/packages/embed/src/base/iframe-options.ts#L1

This line breaks existing vuejs projects cos it now requires that react is installed.

Any help on how to fix this? Thanks in advance.

Ref error message for others who might be searching:
[code]

[2021-10-12 10:49] Godofbrowser commented on #403
As a temporary fix, I've done:

create a new file `shim-react.d.ts` at the project's src/ with content:
[code]

And build works again.

[2021-10-12 10:49] mathio commented on #403
You are right, this type dependency should not be there.

[2021-10-12 10:53] Godofbrowser commented on #403
Okay, thanks for the quick reply. I intentionally didn't want to lock the dependency version. So I'll keep the shim for now as it'll be easier for me to remember to remove that compared to remembering to unlock the dep version.

I'll watch out for the notification too. Thanks for the good work!

[2021-10-12 11:00] #403 closed, assigned to nobody

[2021-10-12 11:03] typeform-ops-gha commented on #403
:tada: This issue has been resolved in version @typeform/embed-v1.20.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@typeform/embed/v/1.20.1)
- [GitHub release](https://github.com/Typeform/embed/releases/tag/%40typeform/embed-v1.20.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-10-15 08:18] iampava opened #405 "React <Widget> gets re-rendered even if the props don't 'actually' change"
Here's a reproducible demo: https://codesandbox.io/s/muddy-tree-heduj?file=/src/App.js (just click the button and the form will re initialize completely)

I think here is the problem: https://github.com/Typeform/embed/blob/main/packages/embed-react/src/components/widget.tsx#L15-L22

There's an `useEffect` hook which has the `props` object as a param. If the reference changes, then all the code ins

[2021-10-15 09:34] RAGOpoR opened #406 "How to override font family?"
I need to change to custom font, Is it possible?

[2021-10-15 09:42] #406 closed, assigned to nobody

[2021-10-15 09:51] mathio commented on #405
I can see the issue. However if we remove the `props` object dependency the widget will not be re-initialized when you change its props. 🤔

[2021-10-15 13:35] iampava commented on #405
Continued experimenting with it and sadly memoizing didn't work... It's because of the `rest` operator: `...props`. This creates a new object reference, even if the underlying props are not modified.

[2021-10-18 23:26] schlosser opened #407 "Move to a less restrictive license, like MIT"
This would make it easier for many companies to adopt; LGPL is less preferable than MIT.

[2021-10-19 10:34] mathio commented on #407
I am not a lawyer either, but based on my understanding of [wikipedia on LGPL](https://en.wikipedia.org/wiki/GNU_Lesser_General_Public_License) you can use our library in your own source code without limitations:

However if you were to fork the embed library and add any features, you are required to keep it open-source:

As long as you install embed library as npm package you can keep your code p

[2021-10-19 13:07] #405 closed, assigned to nobody

[2021-10-22 12:34] #407 closed, assigned to nobody

[2021-10-25 21:25] MotivyInc opened #410 "Any way to embed the create tool?"
We have the need to provide our users with the create form ui, so that their forms automatically integrate with our platform. Is there a way to embed the create form tool?

[2021-10-26 10:48] #410 closed, assigned to nobody

[2021-11-08 21:43] michaeltnguyen commented on #407
Hi @mathio, npmjs is still showing the old LGPL license.  Is there something else that needs to be done to update npm?

https://www.npmjs.com/package/@typeform/embed

<img width="318" alt="Screen Shot 2021-11-08 at 3 42 45 PM" src="https://user-images.githubusercontent.com/14219683/140822822-4dd357c3-e40a-4890-92f6-714610da7ade.png">

[2021-11-09 13:12] iampava commented on #405
Any updates on this one? I'm curious if it's still reproducing on your end as well or am I doing something wrong

[2021-11-17 11:02] iampava opened #417 "React <Widget> still gets re-rendered even if the props don't 'actually' change"
Left some comments on the original issue: https://github.com/Typeform/embed/issues/405 but since there was no activity I decided to create a new one.

The problem is that even with the `v1.1.3` fix  - https://github.com/Typeform/embed/pull/408 - the issue is still replicating: https://codesandbox.io/s/wonderful-napier-0jy9f?file=/src/App.js

[2021-11-17 11:16] mathio commented on #417
Hello @iampava thank you for the report. Sorry we missed your comments in the other thread.

Yes, I can replicate the issue in CodeSandbox. However when I try it with an example directly in this repo (that runs locally) the issue is not present. We will investigate and let you know here.

[2021-11-17 12:43] iampava commented on #417
Thanks :) I tested it locally in my project and it was still reproducing, that's why I re-opened the bug

[2021-11-21 17:20] Zoniaina opened #418 "Popup cannot be closed on mobile screen size"

[2021-11-21 19:58] #418 closed

[2021-11-25 09:17] MaxWatson94 opened #419 "Auto scroll to quiz"
Hey!

After the last update, I noticed that after loading the page, there is an automatic scrolling to the quiz.
Here is a sandbox example: [https://jsfiddle.net/eb9f0dcL/8/](https://jsfiddle.net/eb9f0dcL/8/)

How can we fix this?

[2021-11-25 09:51] mathio commented on #419
Hello, automatic form focus is a feature that helps your respondents interact with your typeform more easily.

If you want to prevent the focus (and scroll) you can use **data-tf-disable-auto-focus** attribute in your embed code.

[2021-11-25 10:48] #419 closed

[2021-11-25 20:11] pxue opened #421 "Release embed-react/1.1.4 breaking builds"
Commit: https://github.com/Typeform/embed/commit/7384691aa8e5efeb0ee02ce0f4b01df3b150ac1f creates a local reference to a package, this is incorrect in CI/CD builds.

Please revert the change as I don't see a valid reason for this change and is causing builds to fail.

@mathio

[2021-11-25 20:30] mathio commented on #421
Sorry for the inconvenience, a new version will be released shortly.

I did not expect this would affect existing installations as dependency versions are usually defined in a lock file.

[2021-11-25 21:07] #421 closed

[2021-11-26 11:21] mathio commented on #417
We re-render the widget only when props change.

in your case you recreate the `onSubmit` method on each re-render of App component. It re-renders whenever you change its state. You should wrap it in `useCallback` to prevent typeform widget rerender.

[2021-11-26 11:21] #417 closed

[2021-12-02 13:53] scarciofolomarco commented on #282
Hi @pcarballeda,

I contacted the team in charge of the ending screens and since the button always redirects to a new page makes the callback unusable because of the page reload.  They will look for a way to add this.

[2021-12-02 15:02] nasiscoe opened #424 "Page scrolling locked on submit"
Having an issue where I cannot scroll anywhere on my React page after successfully submitting from a popup Typeform survey. It's as if the Typeform fixes the position of the entire body when it's opened, but then forgets to "unfix" it on submit.

Note: This is only happening on submit - not on cancel.

[code]

[2021-12-02 15:30] nasiscoe commented on #424
Welp, figured out this was _kinda_ my fault but also a bit confusing just reading the docs...

If `onSubmit` you fire a React state update of any kind _before_ the user manually closes the Typeform (or before your `autoClose`) fires, the Typeform disappears and doesn't fully unmount and unfix the position of the document body. This prevents scrolling.

Make sure you don't fire any state updates un

[2021-12-02 15:30] #424 closed

[2021-12-03 11:39] jaymcguinness commented on #311
I've got 2 different Typeforms which send **different** CSP headers from https://form.typeform.com:

* One sends **content-security-policy:** with **frame-ancestors http://localhost:* https:;**
* The other sends **content-security-policy-report-only:** with f**rame-ancestors https:**

This would explain why some of our embeds work on iOS and others do not.

Do you know if this is controlled at a f

[2021-12-03 13:08] juliettebeaudet opened #426 "Add hideWelcomeScreen option"
Hi there!
I was looking for an option to hide the welcome screen of my typeform.
Basically would be a code equivalent of adding `?typeform-welcome=0` into the url.
Did I miss a way to do it already (I did try with transitiveSearchParams) / would you consider adding it?
Thank you for your attention!
Juliette

[2021-12-03 13:19] mathio commented on #426
Hello @juliettebeaudet

You can remove the welcome screen when are creating the form.

If you are talking about the "placeholder" welcome screen that is added for widgets on mobile you can use *inlineOnMobile* option ([see README](https://github.com/Typeform/embed/tree/main/packages/embed#options)).

[2021-12-03 13:24] juliettebeaudet commented on #426
OK! Removing it from the typeform was indeed the next/last option in my mind. Thanks @mathio , have a good one!

[2021-12-03 13:24] #426 closed

[2021-12-08 08:56] #127 closed

[2021-12-08 09:00] typeform-ops-gha commented on #127
:tada: This issue has been resolved in version @typeform/embed-v1.26.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@typeform/embed/v/1.26.0)
- [GitHub release](https://github.com/Typeform/embed/releases/tag/%40typeform/embed-v1.26.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-12-08 10:37] mathio commented on #380
I did some investigation in our typeform renderrer app. When `embed-focus` event is sent to the form, it enables autofocus, but does not actually focus the form. For example if you were to embed your form with `disableAutoFocus` option, you could re-enable it by sending this event. I have raised this improvement with the team responsible for renderrer app and will keep you updated here.

[2021-12-09 13:57] mathio commented on #311
Hello all 👋

First of all sorry for the delay. This is a bit more complicated decision since it also needs to be approved by our security team.

Currently there is only a **workaround** available. In order to get "report-only" CSP headers on your typeform, [please contact our customer success team](https://www.typeform.com/help/contact/). They will whitelist your typeform if you tell them you are

[2021-12-10 09:02] #311 closed

[2021-12-10 10:50] mathio commented on #311
![futurama-good-news-everyone](https://user-images.githubusercontent.com/1561771/145561017-68851af6-9764-4c6b-9b08-f70f82bb86eb.gif)

We updated the CSP headers:
[code]

There is no need to contact support anymore to make your typeforms available in your PWAs.

I built this [sample PWA](https://glitch.com/edit/#!/tfpwa?path=index.html%3A29%3A20) in Capacitor (it is served on `capacitor://localhost

[2021-12-10 10:58] jaymcguinness commented on #311
Awesome - confirmed as working for us too.

Many thanks for turning this around so quickly. :)

[2021-12-14 01:26] andirsun commented on #83
To solve this install the official ```@typeform/embed-react```
Then import like this
[code]

[2021-12-28 14:47] mrisoli commented on #288
I just tried reproducing this issue with a minimal Sveltekit app and was unable to, could you provide a reproducible example?
I used one of the latest versions of Sveltekit/Vite so maybe this issue has been fixed?
Or is the current issue to just provide multiple outputs?

[2021-12-30 11:29] jeton-th opened #437 "Typeform not loading because of cross-origin isolation."
**Description**

In a ReactJS application, I'm using a library that requires cross-origin isolation in order to use the `SharedArrayBuffer` feature. These are the headers I need to add:

`Cross-Origin-Embedder-Policy: require-corp`
`Cross-Origin-Opener-Policy: same-origin`

**The problem**

The embedded Typeform is not loading anymore:

![image](https://user-images.githubusercontent.com/5147537/14

[2021-12-30 11:34] mathio commented on #437
Hello @jeton-th I will talk to our security team to figure out how would adding those headers affect other customers and if we can do it.

[2022-01-03 09:01] redhoyasa opened #438 "Is it possible to close the form programmatically?"
After the respondents have filled the form that embed using popup, I'd like to close the form instead of showing the end page of the form.

[2022-01-04 15:29] mathio commented on #438
Hello, you can achieve this via `onSubmit` callback:

[code]

[2022-01-04 15:29] #438 closed

[2022-01-07 10:58] abdes-zakari opened #439 "OnQuestionChanged Event not fired!"
OnQuestionChanged Event not fired when user navigates between form questions.

here is my code:

[code]

Do I use the OnQuestionChanged event in the right way?

[2022-01-07 15:38] mathio commented on #439
Hello @abdes-zakari , you have a typo in your code - the attribute name should be `data-tf-on-question-changed` (you are missing a `t`). I see we have the same typo in one for the examples in our README file, I will update that as well.

[2022-01-07 15:38] #439 closed

[2022-01-07 15:41] mathio commented on #437
The change was approved by security, I will update you here when we add the header.

[2022-01-07 21:50] leonardofaria opened #440 "Custom SVGs / images"
Hi

Thanks for this lib!

I am using the React package in a Gatsby application and wondering how could I customize that message icon when using in the Popover component. This is what I have now:

[code]

I see that can customize the color but there is no good way to replace the message icon. If we had a `onLoad` event we could potentially manipulate the DOM and replace the SVG but I wonder if you

[2022-01-07 23:21] mathio commented on #440
Hello @leonardofaria. I am afraid we forgot to document this part 😃  You can pass image URL in a prop called **customIcon**.

Like this:
[code]

We will update the documentation soon and then we can close this issue.

[2022-01-10 10:20] ninja-pinky opened #441 "Cross-origin issue while accessing to iframe content"
I want to access to contentWindow of the iframe but I can't access to the iframe element because cross-origin restrictions.

[code]
![image](https://user-images.githubusercontent.com/73223166/148749973-8ef703fe-494d-469f-b156-4619dced4930.png)

Is there any way via Typeform Dashboard to disable CORS-blocking restrictions for specific website or any other solution to solove this problem?

[2022-01-10 10:42] mathio commented on #441
Hello @ninja-pinky for security reasons this is not possible.

We use [postMessage](https://developer.mozilla.org/en-US/docs/Web/API/Window/postMessage) for communication between the form itself and embed library for functionality we intentionally want to expose (eg. [callbacks](https://github.com/Typeform/embed/tree/main/packages/embed#callbacks)).

If you want to modify your typeform via DOM man

[2022-01-10 11:11] ninja-pinky commented on #441
Thanks for your reply.

I have a form with multiple steps but the steps have different heights so I need a solution to avoid the scrollbar while embedding the form.
The idea is to get the height of every step(by accessing to document in iframe with iframe.contentWindow.document) while question changed (OnQuestionChanged event) and change the height of iframe with the height of the current step.

[

[2022-01-11 10:29] mathio commented on #441
@ninja-pinky I am afraid that this is not something we support right now. Maybe we could send the form height as payload to the OnQuestionChanged event? 🤔

[2022-01-13 09:04] abdes-zakari commented on #441
Hi @mathio thank you for your suggestion.

Yeah I think that will be a good idea if we have the form height as payload in the OnQuestionChanged event.

I'm waiting for this.

[2022-01-13 09:06] ninja-pinky commented on #441
Hi @mathio  thank you for your suggestion.

Yeah I think that will be a good idea if we have the form height as payload in the OnQuestionChanged event.

[2022-01-13 22:12] controversial commented on #380
@mathio I’m still using in production the `embed-focus` method I described in my original comment, and it seems to still be working!

[2022-01-14 09:58] mathio commented on #380
Can you please show an example? To my understanding that event only enables the auto-focus, but does not actually focus the form when fired. However all forms should have auto focus enabled by default (unless you set the *disableAutoFocus* option).

[2022-01-18 21:38] leonardofaria commented on #440
Hi!
Thanks for letting me know :)
I will use `customIcon`

[2022-01-18 21:38] #440 closed

[2022-01-20 12:44] mathio commented on #437
**Update:** This change is not as straightforward as we anticipated. Assets loaded by typeform (such as images) will need to send those headers as well, otherwise they will not load.

[2022-01-21 10:17] #380 closed

[2022-01-23 00:15] controversial commented on #380
Sorry for the slow response—certainly, @mathio!

We use something like the following:
[code]

If the effect is disabled, the Widget does _not_ get autofocus when the page loads; only with the effect sending the `embed-focus` message does the typeform get focus.

[2022-01-25 02:51] redhoyasa commented on #438
@mathio After looking at the code, I see that `close()` isn't supported in react embed library.

Do you have a plan to support this?

[2022-01-25 14:02] bryanmylee opened #447 "`as` prop type definitions"
I'm currently using the `PopupButton` component from `@typeform/embed-react`, and passing a custom React forwardRef component into the `as` prop. Everything seems to be working perfectly, except TypeScript is complaining that `as` only supports HTML element tag names.

Is this intended behaviour?

[2022-01-25 14:20] mathio commented on #447
Prop `as` (introduced in #373) is intended for changing the HTML tag used of the element (eg to use `<a>` instead of default `<button>`). We pass it to `React.createElement(as, {...}` to create the HTML element.

[2022-01-28 13:20] #447 closed

[2022-02-04 19:18] robertoibarra opened #452 "Prevent redirects from breaking out of iframe"
I have a typeform in an iframe.

Currently, when a form ends the redirect opens in the parent window and not within the iframe. I’d like to keep the entire form sequence within the embed.

[2022-02-04 19:24] mathio commented on #452
Hello, we have this feature in our backlog and we plan to pick it up soon. I will keep you posted here.

For now you could maybe do a workaround with `onSubmit` callback.

[2022-02-04 19:59] madeleinemarie opened #453 "onSubmit prop in React Widget not firing"
I've been using the Widget component from `@typeform/embed-react` for months now with no issues, however as of this morning the onSubmit handler has stopped firing. To test, I replaced the body of my onSubmit handler with just a console.log and am not seeing even that.

My implementation looks like:
[code]

The Results tab in the Typeform admin shows that my responses are in fact being submitted.

[2022-02-04 20:02] fivesquared commented on #453
OnSubmit not firing in Vanilla-JS also!

[2022-02-04 20:03] EvansJWang commented on #453
Same tested the same way, passed in a new callback and even the debugger doesnt fire inside it

[2022-02-04 20:14] willitt opened #454 "onSubmit option does not appear to trigger"
Hi,
I noticed that recently the onSubmit function option does not appear to be being called for either the @typeform/embed or @typeform/embed-react libraries when a user completes the Typeform. Below I've attached a couple of codepen demos of the issue for both libraries:
https://codepen.io/shoelaceross/pen/GROjBOj - For @typeform/embed-react
https://codepen.io/shoelaceross/pen/VwrKBXv - For @type

[2022-02-04 20:16] mathio commented on #454
Duplicate of #453.

[2022-02-04 20:16] #454 closed

[2022-02-04 20:18] mathio commented on #453
Hello all, thank you for reporting this. We are aware about this bug and will look into it right away.

[2022-02-04 21:40] mathio commented on #453
We identified the issue and prepared a fix. It should be deployed and available shortly. I will update you here and close the issue when it is.

[2022-02-04 22:23] mathio commented on #453
The fix is deployed and live now.

[2022-02-04 22:23] #453 closed

[2022-02-05 05:42] dtrinh100 opened #455 "Unable to close Popup in mobile view"
I imported the stylesheet from `@typeform/embed/build/css/popup.css`, which closes properly on the tablet and Desktop views, but it doesn't close nor does the cursor (if I resize the browser window) change to a pointer in the mobile view.

[2022-02-05 11:58] mathio commented on #455
Hello @dtrinh100 I can see the close button just fine.

![Screenshot 2022-02-05 at 12 56 25](https://user-images.githubusercontent.com/1561771/152641077-b825a518-17d1-42c3-b4ae-9bee6a00663b.png)
See demo here: https://viqt8.csb.app/

Can you please share more details? Screenshot and maybe a URL of your page? Did you check if there is some CSS from your page in overriding the close button CSS?

[2022-02-05 17:34] dtrinh100 commented on #455
So I am testing the demo in Firefox (which is also the browser that I tested my app on), I noticed the same issue as well as the popup not resizing properly with the `size` option. Here is a screenshot in the Firefox dev tool:

<img width="1421" alt="Screen Shot 2022-02-05 at 12 32 42 PM" src="https://user-images.githubusercontent.com/1930347/152652408-04795917-9454-406b-b638-5f9383790281.png">

I

[2022-02-07 09:47] mathio commented on #455
I can see the issue in Firefox, we will look into it.

The `size` option is applicable only to desktop. Due to limited screen size on mobile all embeds are by default displayed as full screen popup. This is to improve user experience when filling out your typeform.

[2022-02-07 09:59] mathio commented on #455
I tested in Firefox on both Android and iOS and it works. This seems to be issue only on Firefox on desktop on very small screens (<=480px) or when using Responsive Design Mode.

This looks like something that would affect development in Firefox, but not actual users of your embedded typeform.

[2022-02-07 10:00] mathio commented on #295
We do not intend to support Windows machines (without symlink support) for development, at least for now.

[2022-02-07 10:00] #295 closed

[2022-02-07 10:15] mathio commented on #455
This seems to be caused by #147

[2022-02-08 16:09] DanFaudemer opened #456 "onSubmit not triggered on vanilla JS"
We are using typeform vanilla JS in production and `onSubmit` method is no more triggered.

A test case is available [here](https://codesandbox.io/s/ecstatic-austin-27143?file=/index.html:0-425).

Related to https://github.com/Typeform/embed/issues/453

[2022-02-08 16:21] mathio commented on #456
Hello @DanFaudemer, thanks for reporting this.

This is not related to #453 - that one was caused by the form not sending events to embed SDK. The onSubmit callback works in HTML snippets via **data-tf-on-submit** but seems to be broken in JS embeds.

We will investigate.

[2022-02-08 16:47] mathio commented on #456
You have `enableSandbox: true` in your typeform embed. Submissions are disabled in sandbox mode and therefore the event is not dispatched.

@DanFaudemer  did this work in sandbox mode before?

[2022-02-09 11:10] mathio commented on #456
@DanFaudemer we are looking into it and we will reactivate this for sandbox too. Sorry for the inconvenience.

[2022-02-10 23:55] dominics opened #458 "React embed injects inline <style> block, violating strict (no `unsafe-inline`) CSP policies: nonce support"
## Issue

The React embed currently injects a `<style>` block into the page.

For compliance and regulatory reasons, I want to use a `Content-Security-Policy` header that disallows such `unsafe-inline` style blocks, to give me better protection against XSS. This means I need some other way of validating the injected block is safe under CSP, otherwise I get a CSP violation (even after allow-listing

[2022-02-11 13:12] mathio commented on #458
I like this 👍  I am looking at your PR now.

[2022-02-15 08:33] typeform-ops-gha commented on #458
:tada: This issue has been resolved in version @typeform/embed-react-v1.3.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@typeform/embed-react/v/1.3.0)
- [GitHub release](https://github.com/Typeform/embed/releases/tag/%40typeform/embed-react-v1.3.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :packa

[2022-02-15 08:34] #456 closed

[2022-02-17 12:07] mathio commented on #441
Now you can use `onHeightChanged` callback. If you want to resize widget embed you can use `autoResize` option.

This issue was resolved in #463

[2022-02-17 12:07] #441 closed

[2022-02-17 15:55] Jesspu commented on #215
I would like this option as well. Currently we show users a list of events to review. When they hit "Review" we show them a form. We use the same form for each event.

However, currently, if they open a form for review, answer two questions, exit the form, and open one for a different event, their previous answers are still populated. Ideally this would not be the case and we could disable the cac

[2022-02-17 16:10] antoniofull commented on #455
Hi @dtrinh100 I tried to replicate the issue with Firefox but for me it works just fine on `Firefox 97.0.1 (64-bit)`
I can click the close icon with no problem also on small screen. Are you still experiencing the issue?
Thanks!

[2022-02-17 20:16] dtrinh100 commented on #455
Hi @antoniofull I am still seeing the issue on my laptop, but if it works on mobile as mathio said it does, then we can close this issue. Thanks!

[2022-02-17 22:44] cortlin opened #468 "Dynamically set price using React embed"
Sense the price variable is already created by typeform, is there any way to send a number to that variable via an option similar to how you can set hidden values?

I have tried:

[code]

and:

[code]

but neither set the price variable in typeform. Any help would be appreciated.

[2022-02-18 09:22] antoniofull commented on #455
Thanks for let me know @dtrinh100 🙇

[2022-02-18 09:22] #455 closed

[2022-02-18 12:28] maxprilutskiy commented on #437
Update: this will require some infra changes on our side, so please do not expect support for this case in the nearest future. We will be posting updates, if any, in this issue.

[2022-02-21 19:52] mathio commented on #468
Hello @cortlin

unfortunately this is currently not possible. Variables and hidden fields are 2 different features. (Also, in your second code example you are using invalid `variables` prop. This prop is not supported by our lib.)

Since hidden fields are passed via URL anyone would be able to modify your price and pay any amount they choose. If you want to want to collect payments for multiple pr

[2022-02-21 19:57] mathio commented on #215
Hello, this feature has been between teams and on the bottom of the priority list until now. We will likely be able to move this feature forward in Q2 2022.

[2022-02-22 16:35] mathio commented on #282
We have not forgotten about this feature. It took a bit longer because there were multiple people and teams involved, but its almost here! The `onEndingButtonClick` callback will be released later this week.

[2022-02-24 08:21] #282 closed

[2022-02-24 08:25] typeform-ops-gha commented on #282
:tada: This issue has been resolved in version @typeform/embed-v1.32.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@typeform/embed/v/1.32.0)
- [GitHub release](https://github.com/Typeform/embed/releases/tag/%40typeform/embed-v1.32.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-02-27 21:13] wyattades commented on #426
For others trying to hide the welcome screen programmatically, we were able to solve this by setting `'typeform-welcome': '0'` in the `tracking` parameter.

In React:
[code]
It'd be great if this was a documented option though!

[2022-03-06 02:01] baesumin opened #480 "typeform result"
When the survey is over, can I get the results as an api?

[2022-03-06 02:07] baesumin commented on #480
i found it

[2022-03-06 02:07] #480 closed

[2022-03-06 08:23] baesumin opened #481 "scroll question"
Is there a way to prevent mouse wheel scrolling inside a typeform?

[2022-03-06 13:10] Abhishek765Flyfin opened #482 "Can't we just reset the localStorage instead of making multiple API calls"
Hi, I've used the **createSlider** method to create the Typeform manually (Like after some action), Here's the sample code:
[code]

**- The issue is -> it is performing a set of API calls on each action and recreating the localstorage again and again (Instead of just resetting the fields)**

Sometimes it is taking a lot of time to boot up the main TypeForm UI

<img width="736" alt="image" src="htt

[2022-03-07 08:51] mathio commented on #481
Hello this is currently not possible. Scrolling is one of the features to navigate between questions. Why do you want to disable it? What is your use case?

[2022-03-07 08:56] mathio commented on #482
Hello @Abhishek765Flyfin those JS scripts are required for by your typeform to work. It should be cached by your browser (when you open dev tools in your browser caching might be disabled) and will be loaded from cache on subsequent visits.

Is your embedded typeform performing poorly? Do you have a link where I can have a look?

[2022-03-07 10:48] baesumin commented on #481
Hello. When a widget is attached to the homepage, when the homepage is scrolled with the mouse wheel, if the mouse is in the widget area, the widget is scrolled. I want to prevent the widget from scrolling with the mouse wheel even when the mouse is pointing at the widget.

[2022-03-25 15:06] ilyem opened #486 "PopupButton autoClose does not remove the overflow: hidden from body"
Issue:  Using autoClose for the PopupButton component removes the form modal but not the   overflow: hidden from the body.
onClose does not trigger on autoClose, to track the event and manually remove the  overflow: hidden style from the body.

Version: 1.13.0

[2022-04-01 09:19] restcristian opened #488 "Popover question."
Hello, it is the first time that I use this plugin, so I was wondering if I wanted to render a popover instead of a popup, do I have to enter an specific prop? or with the id should be enough?  I do not see any obvious prop, and when I try only with the ID I get from the new generated script, it still renders the popup.

[2022-04-01 10:16] mathio commented on #486
Thanks for reporting, we will have a look.

[2022-04-01 10:18] mathio commented on #488
Hi 👋  For popup you need a code like this. You need to provide a button that will open the popup when clicked:

[code]

For popover we provide the button for you (you can customize the icon), you just need to initialize it:

[code]

[2022-04-01 10:32] mathio commented on #481
Hi, I will talk to our UX designers to see if we can provide a setting to disable this feature.

[2022-04-01 10:39] restcristian commented on #488
I see thanks. I forgot to mention that I am using this library: I dont know if there is a way to tell it that we should use a poppup
https://www.npmjs.com/package/@typeform/embed-react

[2022-04-01 10:44] AdrianAexol opened #489 "The form and time reset when the window is resized in the browser"

[2022-04-01 10:45] baesumin commented on #481
thank you!

[2022-04-01 10:53] mathio commented on #489
Hi, we will need more info than this. Ideally some code we can use to reproduce this issue.

[2022-04-01 11:15] restcristian opened #490 "Popover question?"
Hello, it is the first time that I use this plugin, so I was wondering if I wanted to render a popover instead of a popup, do I have to enter an specific prop? or with the id should be enough? I do not see any obvious prop, and when I try only with the ID I get from the new generated script, it still renders the popup.

[2022-04-01 11:15] #490 closed

[2022-04-01 11:18] restcristian commented on #488
Oh I see there is a popover component in the library. I will try that. Thanks :)

[2022-04-01 11:29] #488 closed

[2022-04-02 12:28] kyroz666 opened #491 "Web"

[2022-04-04 10:14] #491 closed

[2022-04-04 18:16] krry commented on #489
We have a similar situation. Embedding a Typeform with `embed-react` and its `Widget` component, when the browser window is resized, the Typeform (or its encapsulating `iframe`) reloads, which starts the survey over.

[2022-04-19 21:15] stavarotti commented on #215
@mathio, we just faced the same issue. I'm curious, how is your team not treating this a large security hole? Two distinct users should never see the same data. In all survey engines that I've used, I've never come across this issue. Sharing respondent data is a show-stopper for anyone that cares about security.

[2022-04-20 12:21] patrick-samy commented on #489
Exact same issue here. Has anyone found a workaround?

[2022-04-20 12:39] hognevevle opened #495 "Embedding typeform in Electron app"
Hey guys,

I'm trying to embed a typeform into our Electron app, but I'm being blocked by the Content Security Policy.

Is there any way to support this in Electron, as you have already for capacitor and ionic? In our case, the frame is loaded under the `app://` scheme -- not sure if this is always the case for Electron, or if there are scenarios in which this will vary.

[code]

Related to #311

[2022-04-20 12:48] mathio commented on #495
Hi @hognevevle can you load your app under any of the supported schemes? Either on `http://localhost`, `ionic://` or `capacitor://`?

[2022-04-20 19:10] hognevevle commented on #495
Not with ease, it seems. I made an attempt changing all existing references to `app` but certain references still remained under `app://`, thus presenting other issues. It's quite possible it can be done using some additional configuration (I didn't spend a lot of time researching). That said, your suggested workaround still isn't one I'd be very comfortable with (feels overly invasive for only re

[2022-04-20 20:44] chandlerroth opened #496 "Jump to question"
I would love to be able to take the output of the block ref from the `onQuestionChanged` callback to be able to jump back to that question if the user reloads the page or form.

My scenario: I've got a Typeform with over 100 questions. Its great that Typeform saves the responses to these questions in `localStorage`, but I'd like to jump to the last question they responded to if the page reloads (b

[2022-04-21 10:26] mathio commented on #495
I can check with our security team if we can add yet another protocol to our supported headers. I will keep you updated.

[2022-04-22 08:15] mattrobinson10 commented on #496
Hi 👋, thank you for raising this. A feature like this is under consideration for our roadmap this year, we will let you know when something is planned

[2022-04-22 14:23] chandlerroth commented on #496
@mattrobinson10 awesome, thank you! :)

[2022-04-22 14:38] chandlerroth commented on #496
@mattrobinson10 is there anything I could do to help out with this, or are there internals that have to be wired up in order to expose useful interfaces to this embed repo? One thought I had was the "Submit" button returns a user to a question with an error -- perhaps that's functionality to build on top of -- but I assume that's all internals of Typeform, right?

[2022-04-25 08:31] mattrobinson10 commented on #496
@chandlerroth yes you are correct, there will need to be some modifications to the typeform app itself, so that will need to be worked on internally. Thank you for the offer though, it's much appreciated!

[2022-04-27 08:51] mathio commented on #489
It is hard to say without seeing the code, but you are most likely passing some props to the `Widget` component that change on browser resize. React will re-render the component on props change - in this case it means re-rendering the iframe which causes your typeform to be reloaded.

Unfortunately there is no workaround for this one yet, but maybe when #496 is ready you could restart your respond

[2022-04-27 08:58] #482 closed

[2022-05-13 10:17] camro opened #501 "keepSession option relying on third party cookies"
The `keepSession` option seems to be relying on third party cookies, which Chrome is blocking by default. Would it be possible to rely on a first party cookie instead, such as using the domain the embed is running on?

[2022-05-13 10:56] #489 closed

[2022-06-07 12:06] rikkert commented on #217
I have the same issue, when creating the widget with JavaScript the size is really small.
Is there a solution to this?

[2022-06-17 12:31] mimartinez commented on #452
Hi,
But if I have more than two Typeform it doesn't work. When it goes from the second to the third it already opens in the parent.

[2022-06-18 15:38] henok-outlier opened #505 "How to get selected answer for multiple choice typeform question when user submits an answer"
<img width="652" alt="Screen Shot 2022-06-18 at 6 37 30 PM" src="https://user-images.githubusercontent.com/72997506/174445801-15bcffc7-3261-460c-ba11-7b40ee19f3fd.png">

I've a multiple choice type question in one of typepform questions, and we want to track when user submits an answer for questions, but currently I couldn't find a way to get the selected answer.

[code]

I use this code to render

[2022-06-20 09:51] mathio commented on #505
Hello @henok-outlier

you can no read answers in `onQuestionChanged` because it is not submitted yet. You can retrieve form responses after your typeform is submitted. I wrote a [blog post about integrating embeds with responses API](https://medium.com/typeforms-engineering-blog/integrate-typeform-with-next-js-b27a5306bfbb) that might help you.

In short:

1. embed form
2. use an `onSubmit` callba

[2022-06-20 09:55] mathio commented on #501
Hello @camro

sorry for a late reply. The feature is not using any additional cookies. If you supply `keepSession` option to your typeform the lib will just hide it via CSS when closing - the form will not be removed from the page as it is without this option. Re-opening the form should be instant.

[2022-06-20 09:55] #501 closed

[2022-06-20 18:16] henok-outlier commented on #505
Hi @mathio , thanks for your reply. Yes, I can able to get submitted responses, but I would like to know when user answers one question from list of questions. So in my typeform embed I've 3 questions, and would like to track what user select for a specific question before submission.

I see that typeform stores selected answers in local storage, so that when we close the form and open it in diffe

[2022-06-24 09:36] mathio commented on #505
Unfortunately this is not possible at the moment.

[2022-06-24 09:36] #505 closed

[2022-06-30 14:46] mathio commented on #486
I tested with latest `PopupButton` component and it works. See CodeSandbox here: https://codesandbox.io/s/fragrant-leftpad-3m1ky8?file=/pages/index.js

If the issue still persists feel free to reopen this issue with code to reproduce it.

[2022-06-30 14:46] #486 closed

[2022-07-02 20:49] compiled-krishan opened #509 "How can I add multiple popup form in a single html page?"
I tried making two buttons with different ids and my javascript looked like-
const { open, close, toggle, refresh } = window.tf.createPopup('myformid');
document.querySelector('#quote-btn').onclick = toggle;
const { open, close, toggle, refresh } = window.tf.createPopup('myformid');
document.querySelector('#contact-btn').onclick = toggle;

But it didn't work out. Please help me with this

[2022-07-05 08:41] mathio commented on #509
Hello @compiled-krishan

since you didn't provide any additional information I am going to assume the simplest use case - that you are using the lib from our CDN.

You need:
* the buttons
* include embed lib - JS and related CSS
* the code to trigger the popup (you need each popup in a separate variable, if you spread both the names `open, close, toggle, refresh`  will clash since they are defined

[2022-07-06 05:40] compiled-krishan commented on #509
Both the ways worked out. Thank You!

[2022-07-06 05:40] #509 closed

[2022-07-16 05:49] jeton-th commented on #437
No, the issue remains.

[2022-07-22 10:29] niravjadatiya commented on #215
any update on this?
I am using it in react and I have table with diffrent records (but with same typeform I want to fill, just hidden fields values change)
now once user submit the form I want fresh start the session

I found that typeform storing details by widget id

how to disable it for next form

[2022-07-24 16:08] maxcountryman commented on #380
@controversial this example doesn't seem to be working for me. Both Firefox and Safari aren't setting focus as expected. I can see the iframe is being selected correctly in the hook, so I suspect the events themselves aren't quite right.

[2022-08-03 15:08] maxcountryman opened #513 "Autofocus not working correctly with Widget"
It seems the `embed-focus` event mentioned in #380 is no longer available. What this means is the iframe is not autofocused when using the `Widget` component. How can this be addressed with current versions of the embed package?

[2022-08-04 08:47] iparr commented on #513
Conversely, I'm using: `data-tf-disable-auto-focus` in an HTML embed and it steals focus.

How does one stop auto-focusing?

[2022-08-04 09:42] antoniofull commented on #513
HI @maxcountryman @iparr thanks for reporting this, we are investigating it and we will push a fix as soon as possible. I will let you know once we have fixed it. Thanks!

[2022-08-05 09:55] antoniofull commented on #513
HI, we have released a fix for that issue yesterday, could you let us know if now auto-focus is working fine? Thanks!

[2022-08-15 09:55] iparr commented on #513
That seems to have done the trick, cheers.

[2022-08-16 09:15] antoniofull commented on #513
Great! I am closing the issue, feel free to reopen it if you still have problems, thanks for reporting it.

[2022-08-16 13:15] maxcountryman commented on #513
@antoniofull what version tag is the fix in?

[2022-08-16 13:17] maxcountryman commented on #513
Using the latest package on NPM, this issue is not resolved for me. @antoniofull can you please reopen?

[2022-08-16 13:21] maxcountryman commented on #513
This is still an issue using the latest available on NPM. Please reopen the issue.

Can you point me to the commit that should have addressed this?

[2022-08-16 18:14] maxcountryman commented on #513
@antoniofull if you could reopen this, that would be great. I'm not able to.

[2022-08-17 07:56] antoniofull commented on #513
@maxcountryman the fix was released in another package, can you explain me please what is that you cannot achieve? Thanks

[2022-08-17 15:00] maxcountryman commented on #513
@antoniofull the issue is described in more detail [here](https://github.com/Typeform/embed/issues/513#issue-1327372676). Just to recap, this means that the keyboard controls don't work until the user manually clicks on the form.

Can you share which package you're referencing and the specific commit? Thanks!

[2022-08-18 09:33] Hooandee opened #514 "Send the ending screen reference on callbacks"
Hi!

I would like to know if it's possible to send the reference of the ending screen the user is visiting after they submit the form. I need to create some funnels on a Data platform but I'm not able to get the ending screen reference the user is landing after they submit.

I've tried to use `onSubmit` but it does not includes the value, nor `onQuestionChanged` because the ending screen is not a

[2022-08-23 10:52] mathio commented on #288
We were unable to reproduce this. If you still experience this please feel free to reopen this with additional information.

[2022-08-23 10:52] #288 closed

[2022-08-23 11:13] mathio commented on #513
Hi @maxcountryman we are aware that there was indeed an auto focus issue on August 3rd. The issue was not in the embed library, however in the typeform itself. However the issue has been resolved since.

Are you still experiencing any issues with auto focus? If yes, can you show as an example of embedded typeform with the issue? Thanks.

[2022-08-23 13:02] maxcountryman commented on #513
@mathio can you please reference the commit that you believe addressed the issue?

[2022-08-23 13:15] maxcountryman commented on #513
@mathio okay well whatever fix was made did not address the missing event issue I raised in this ticket. It also did not address that an embedded Widget will not autofocus.

[2022-08-28 21:17] Specialist22 opened #516 "Specialist Dev&Ops"
![image](https://user-images.githubusercontent.com/111916904/187094992-444aa301-8d2e-435b-af0e-03718479b79d.jpeg)

[2022-08-29 08:48] #516 closed

[2022-09-02 08:09] mathio commented on #513
I am happy to report the focus was fixed earlier this week. Your embedded widgets will now autofocus unless it is explicitly disabled via `disableAutoFocus` option.

[2022-09-02 08:09] #513 closed

[2022-09-06 04:21] ricky11 commented on #284
does it work with nuxt 3, i tried the above, but get an error
500
e4.startsWith is not a function

at http://192.168.50.6:3003/node_modules/.vite/deps/@typeform_embed.js?v=7f66d855:478:33

[2022-09-06 07:38] mathio commented on #284
Hello @ricky11 can you please provide more context? What embed code are you using? Can you provide your code or maybe reproducible example?

[2022-09-06 09:43] ricky11 commented on #284
Hello @mathio I am using nuxt 3.0, what is the best way to integrate typeform within nuxt 3? I am unable to find documentation.   Thanks.

[2022-09-06 10:23] mathio commented on #284
I doint have much experience with Nuxt. Have you tried [the CodeSandbox example I posted above](https://codesandbox.io/s/tf-embed-vue-nuxtjs-9zqrc)?

[2022-09-08 12:15] stugoo opened #518 "Dead links"
All three links in the [What's next section in the inline page are dead/broken/not working](https://github.com/Typeform/embed/blob/main/embed/configuration) and show github 404 when clicked

[2022-09-08 12:20] mathio commented on #518
Your link is broken too :D We use those MD files to build https://developer.typeform.com/embed/  and links work there. Maybe we need to better communicate the docs are meant to be read there, but this is not a bug.

[2022-09-08 12:20] #518 closed

[2022-09-19 09:45] mathio commented on #513
There was an update to the auto focus feature recently: https://github.com/Typeform/embed/pull/521

It is disabled by default for widget / standard embeds. It can be enabled via `data-tf-auto-focus` or `autoFocus: true` option. Or you can focus programmatically via the newly exposed `focus()` method.

More in my [blog post](https://mathio28.medium.com/widget-auto-focus-in-embed-sdk-8e0c0584b57).

[2022-09-19 09:46] mathio commented on #380
There was an update to the auto focus feature recently: https://github.com/Typeform/embed/pull/521

Now you dont need to post the message manually. You can use the `focus()` method returned by your embed - eg. from `createWidget`.

Also, auto focus is disabled by default for widget / standard embeds. It can be enabled via `data-tf-auto-focus` or `autoFocus: true` option.

More in my [blog post](ht

[2022-09-19 17:29] claudialigidakis opened #522 "A11Y issue with embed not having a title"
Hello,

I'd like to add a `title` or `ariaLabel` to the iframe within the embed as an optional prop. This will solve the component from failing within axe-jest.

Thanks!

[2022-09-19 20:02] mathio commented on #522
Hello @claudialigidakis

you can pass any props / attributes to the iframe in `iframeProps`. Like this:

[code]

Or with JS API:

[code]

[You can also see how it works in this example.](https://glitch.com/edit/#!/tf-iframe-props-a11y

[2022-09-19 20:02] #522 closed

[2022-10-06 12:59] joshharington opened #524 "Hidden fields missing"
I am using the embed SDK to embed a typeform into a page,  passing through hidden fields using data-tf-hidden, but they dont get added to the typeform URL, and not present in the hidden fields in the responses of the typeform.

My code:
[code]

The variable and field are getting set in the div as documentation states
![Page source](https://user-images.githubusercontent.com/10532582/194317442-133da

[2022-10-06 13:07] mathio commented on #524
I tried with your code and I can see the `user_id` hidden field is passed to the form URL correctly in the DOM:

![Screen Shot 2022-10-06 at 15 04 35](https://user-images.githubusercontent.com/1561771/194320262-0e02e346-1440-45f6-adf4-e1ff51265e28.png)

Can you confirm the hidden field is passed to your iframe as well?

[2022-10-06 13:08] joshharington commented on #524
@mathio yes it is being passed into the form URL in the DOM, the iframe src at the end has #user_id=399

[2022-10-06 13:09] mathio commented on #524
Can you please try with a different hidden field name? Maybe `user_id` name is a reserved name and is clashing with some internal variables? 🤔

[2022-10-06 13:20] joshharington commented on #524
I have tried using `name`, `email`, `user_id`, `user` as well as other ones. When testing now, if I add `email`, and `user` at the same time, it shows, but when using `user` on it's own it isnt showing. When using mutliple fields though and partials come through (only happening now, wasnt happening earlier), user_id isnt coming through at all, most likely reserved somewhere

[2022-10-06 13:36] mathio commented on #524
I will check with respective team if there are any possible name clashes like this.

In the mean time I would suggest renaming problematic hidden fields (`user` and `user_id`) to get unblocked immediately.

[2022-10-07 07:15] mathio commented on #524
@joshharington can you please share your form id / URL? Please also share your full JS embed code if you can. And if you have a public website with your typeform it will help too. We will have a look.

[2022-10-07 12:26] mathio commented on #514
This is an internal company request and should be reported through appropriate channels.

[2022-10-07 12:26] #514 closed

[2022-10-18 13:26] mathio commented on #524
Hello @joshharington are you still experiencing this issue?

[2022-11-01 22:52] luisnaranjo733 opened #528 "Widget not sizing itself to parent element size"
I'm rendering a typeform in a flex container and I want the typeform widget to expand to fill that container which is the behavior I expected after reading [this ](https://github.com/Typeform/embed/issues/217)issue.

But that isn't happening. I've tried styling with style: {} and that's not working either

See screenshots below for example
The parent container (pink) when highlighted in chrome dev

[2022-11-01 23:45] luisnaranjo733 commented on #528
I ended up just using a popupbutton which would let me set size=100
Still feels strange that the default widget won't let you set width and height to 100%. it seems like it expects absolutes sizes only which is inconvenient if you're trying to fill the container.

The only way to get that is to measure the parent div sizes in client side after the initial render.  Doing that causes jank because th

[2022-11-01 23:45] #528 closed

[2022-11-02 11:58] mathio commented on #528
The widget will automatically takes size of its parent element. Or you can specify CSS manually to size it as you wish. The parent element is the `<div>` that you use to define your widget.

You just add CSS like this for custom size:
[code]

Or for a full screen widget like this:
[code]

See CodeSandbox example here: https://codesandbox.io/s/xenodochial-framework-uh2roo?file=/index.html

[2022-11-07 12:25] malatinigreenly opened #529 "[Question]: Typeform embed react - on submit"
Hello !
I am working on a React project, using the Widget component from "@typeform/embed-react".

There are some typeform results that I would like to avoid (not store / save at all): when a demo or admin account answers the form, I would like to act like it has been answered to show the behavior to our clients, but I would like to not have the answer in my form's results.

I tried to avoid using

[2022-11-07 12:25] #524 closed

[2022-11-07 12:29] mathio commented on #529
Hello @malatinigreenly,

you can achieve this by adding `enableSandbox` attribute to your embed to [enable sandbox mode](https://www.typeform.com/help/a/test-your-typeforms-without-creating-an-entry-for-advanced-users-360029295952/).This will disable submissions and tracking in the embedded form.

Logic in `onSubmit` is executed only after the form has been already submitted.

[2022-11-07 13:49] malatinigreenly commented on #529
Hello @mathio ! Thanks a lot for your answer ! I am going to try this :) Have a great day!

[2022-11-07 14:39] #529 closed

[2022-11-09 16:05] jaulin opened #531 "Any way to change the hidden field in the onReady callback?"
Hello,

I am trying to find a way to access the hidden field in one of the callback functions but there doesn't seem to be a way to do so.

[code]

I want to do this because I want to get the exact time the pop up opened and pass it across. I know there is a `landed_at` field but this isn't what we want as this time is when the user first interacts with the form, not when the form loads up. For ex

[2022-11-09 16:11] mathio commented on #531
Hi @jaulin

unfortunately you can not change the hidden field once the embed has been created.

However in your case you can create the popup on click (right before it is opened), like this:

[code]

[2022-11-09 16:32] jaulin commented on #531
That's brilliant, this works exactly how we want it to. Thanks for solution and quick reply 👍

[2022-11-09 19:46] #531 closed

[2022-11-14 15:17] #481 closed

[2022-11-14 15:21] typeform-ops-gha commented on #481
:tada: This issue has been resolved in version @typeform/embed-v2.2.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@typeform/embed/v/2.2.0)
- [GitHub release](https://github.com/Typeform/embed/releases/tag/%40typeform/embed-v2.2.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-11-14 15:23] mathio commented on #481
I am happy to let you know this feature was just released. You can use it via config option `disableScroll` / `data-tf-disable-scroll ` like this:

[code]

[2022-11-25 17:36] chandlerroth commented on #496
This is still a need we have! Would make for a much smoother UX if a user didn't fill a very long form out, and had to refresh.

[2022-11-28 11:22] mathio commented on #437
Hi @jeton-th, we're going to close out this issue for the time being.

As you know, we've spoken internally about solving this and whilst we've tried to make headway, the solution is more complex than we'd initially thought.

We appreciate it's something that would improve your implementation of an embed and we've logged the feedback so that we can continue to assess how to prioritize an improveme

[2022-11-28 11:22] #437 closed